%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Computers have come a long way but they still primitive compared with our own brainpower. Our brains can handle much more information and processing than any supercomputer yet developed. The brain is so far superior to current computers that scientists seek ways to mimic its “wiring” in modern computers.
      %p
        Researchers using the brain as a model place organic molecules called DDQ on a gold substrate or base as a replacement for silicon chips. These molecules have several properties that make them ideal for computers. First, current computers use just two binary signals, 0 and 1. All of the pictures, words, and links that a computer screen shows are produced from combinations of those two digits. The DDQ computer, however, uses four signals: 0, 1, 2, and 3. In addition, each molecule can connect with up to 300 others at the same time, similar to the way neurons behave in the brain. This powerful behavior is called parallel processing.  In contrast, current computers typically communicate with only one circuit at a time, called linear processing. All of this means that the new DDQ computer can work much faster and more efficiently than any other computer to date. It even has the ability to analyze complex, random events such as natural calamities and epidemics.
      %p
        Computers continue to improve and the DDQ computer is a long technological leap forward. As a molecular machine it can even “heal” itself if a connection is damaged, and can organize itself into networks. Our brain, which has been working well ever since the Creation Week, is a true masterpiece. It should humble us that the best designs of human engineers are those copied from the work of the Master Designer.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/people/supercomputer.jpg'}
        .col-sm-12
          %img{src: 'images/people/computer_chip.jpg'}
  .row.references
    .col-sm-12
      %p
        Goodrich, Marcia. 2010. Lessons from the Brain: Toward an intelligent computer. Michigan Tech News. <a href="http://www.mtu.edu/news/stories/2010/april/story25874.html" target="_blank">http://www.mtu.edu/news/stories/2010/april/story25874.html</a>
