%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        DNA is a complex biomolecule which is embedded in the cells of all living organisms.  DNA consists of two intertwined chains of simpler molecules. The arrangement of these units serves as a blueprint or recipe for the structure and internal activity of plants, animals, and people. Life is incredibly complex, and much guiding information is needed. Just one gram of DNA holds as much information as one trillion compact discs. Obviously, such computer storage capacity lies far beyond our technology.
      %p
        Computer experts look to artificial DNA for future computer memory needs. A team in Japan experimented with the DNA of living bacteria. They placed binary information into segments of the bacterial DNA. The information includes numbers and alphabetical letters. At a later time, a process called gene sequencing is able to retrieve the information. One of the first items of stored information was the message "E = mc2  1905." This phrase refers to Albert Einstein's famous energy equation, first published in 1905. The distant future of computer memory may well involve the designed biomolecule DNA, present in all forms of life.
    .col-sm-6.text-center
      %img{src: 'images/people/dna.gif'}
  .row.references
    .col-sm-12
      %p
        Yozomu, Yachie, et al. 2007. Alignment-based approach for durable data storage into living organisms. <i>Biotechnology Progress</i> 23:501-05.
