%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The lens in our eye has a special designed feature called accommodation. That is, the lens changes shape, curvature, or focal length to bring images into focus. When we look at a far distant object the lens becomes thinner. For nearby objects the lens thickens and becomes rounder for clear vision. The flexibility is possible because the lens is somewhat jellylike. Ciliary muscles around the edge of the lens control its shape. These muscles can become fatigued, and they recover when eyes are closed.
      %p
        Mammals, birds, and reptiles share our accommodation ability of eyesight. In contrast, fish move their eye lens slightly inward or outward to focus images. In another approach, some spiders move toward or away from objects to bring them into focus. Clearly, the Creator uses fascinating variety in the vision of His creatures.
      %p
        Manmade cameras also use a lens, typically made of solid plastic or glass. Optical researchers at the University of Illinois are working to copy the flexible accommodation ability of our eye. Their small, artificial lens consists of a fluid held within a small gap between a glass window and a curved elastic membrane. Fluid is moved into or out of the reservoir to change the lens shape and focus near or far objects. When commercially available, the device, called the "eyeball camera," will be useful for night-vision devices and medical endoscopes. Our eye is rightly considered the ultimate designed camera.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/people/fish_eye.jpg'}
        .col-sm-12
          %img{src: 'images/people/eye_lens.jpg'}
  .row.references
    .col-sm-12
      %p
        Urquhart, J. 2011. How stretching a camera's lens can make it smaller. <i>New Scientist</i> 209(2796):22. 
