%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Cameras have long mimicked  the optics of the eye. Both collect and focus light with a convex outer lens. However, cameras have a shortcoming: They typically focus the image onto a flat surface. Whether this surface is covered with film or a digital sensor, distortion results from the projecting of light from a curved lens onto the flat surface. The insertion of additional lenses reduces the distortion, but this adds to camera weight and cost. Our eye with its hemispherical shape has no such problem.
      %p
        Researchers at the University of Illinois, Urbana, have now replaced the flat light-collecting part of a camera with a curved surface similar to the rear of the eyeball. The challenge is to curve the silicon photodetector, which is brittle and tends to fracture. To solve this problem, the engineers attached many small silicon detectors, connected with fine wires, to a flexible plastic membrane. The silicon components are similar to the individual rods and cones which make up our retina. The artificial membrane itself is warped into an eyeball shape, including the silicon components, shaped similar to the eyeball.
      %p
        The continuous motion of our eyes give us continuous, distinct views of an object. These images then combine in our brain for a clear picture. For the eye-shaped camera, multiple images can likewise be collected by moving the artificial lens, or slightly changing the shape of the membrane collector. The images can then be overlapped by computer to give a clear image.
      %p
        It is popular for modern critics of creation to complain about imperfections in our eyesight. However, engineers continue to look to our eye for improvements in cameras. The abstract of the first Nature article below begins, “The human eye is a remarkable imaging device, with many attractive design features.”
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/people/eye_retina_2.jpg'}
        .col-sm-12
          %img{src: 'images/people/camera.jpg'}
  .row.references
    .col-sm-12
      %p
        Heung, Cho and many others. 2008. A hemispherical electronic eye camera based on compressible silicon optoelectronics. Nature 454(7205):748-753.<br>
        Takao, Someya. 2008. Optics: electronic eyeballs. Nature 454(7205):703-704.
