%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Engineer and inventor Robert Kearns (1929-2005) lived in Detroit, a region surrounded by the auto industry. One misty, rainy day he drove his Ford Galaxie across town. He was irritated by the constant scraping and vibration of the windshield wipers on the semi-dry windshield. At this time, most wipers had just two settings, one for normal rain and the other for a heavy downpour. Kearns also had only one good eye, and the constant smearing motion of the wipers did not help his vision or driving concentration. What happened next is what the Wall Street Journal calls “the kind of inspiration that separates inventors from ordinary people.” Kearn simply asked himself whether windshield wipers could mimic the blinking of our eyes. That is, could wipers be programmed to operate intermittently when the rain was misty? This could slow down and quiet the wipers, clear the windshield in a timely manner, and avoid the wipers’ hypnotizing effect.
      %p
        Back home, Kearns experimented with wiper motors. We may take adjustable windshield wipers for granted today, but integrated circuits were not available to Kearns. In 1964, he patented the first intermittent windshield wiper. This event began a long chain of patent infringement cases with the major car makers who had developed similar features. Kearns eventually won many millions of dollars in lawsuits; however, the legal battles largely consumed the rest of his life. The 2008 film Flash of Genius tells the story of Robert Kearns and his invention. The blinking of our eyes, automatic and essential, is now duplicated by billions of windshield wipers around the world. Proclaiming Creation, Psalm 94:9 asks, "Does He who formed the eye not see?"
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/people/eye_chart.jpg'}
        .col-sm-12
          %img{src: 'images/people/windshield_wipers.jpg'}
  .row.references
    .col-sm-12
      %p
        Seabrook, John. January 11, 1993. The Flash of Genius <i>New Yorker</i>
