%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        This is an unusual example of practical designs found in nature. Automobiles have several new options for fuel including batteries, hydrogen gas, and natural gas. Natural gas is especially attractive because it is in good supply in the U.S., and emits only half the carbon dioxide of conventional fossil fuel. However, one challenge is to carry enough natural gas on board the vehicle for practical driving. Large, high pressure cylinders are expensive, bulky, and somewhat hazardous.
      %p
        The Otherlab company in San Francisco offers a solution to the efficient transporting of natural gas as a fuel. It begins with consideration of the human small and large intestines. These amazing flexible organs carry digested food along while nutrients are absorbed. For adults the small (narrow) intestine is about 20 feet long while the large (wide) intestine extends about 5 feet.
      %p
        The insight for vehicles is to replace a single large pressure tank with a long flexible tube. This tube can hold a large quantity of natural gas at a lower pressure. The tube can be bent into various spacesthroughout the body of the car. This “conformable gas tank” mimics the human intestine with an entirely new application. Transportation is undergoing rapid change and the human body gives insight into fuel tank design.
    .col-sm-6.text-center
      %img{src: 'images/people/fuel_tank_concept.jpg'}
  .row.references
    .col-sm-12
      %p
        Levitan, Dave. 2013. From the gut: “Intestinal” design for vehicle natural gas tank, Ieee spectrum, <a href="http://spectrum.ieee.org/energywise/green-tech/advanced-cars/from-the-gut-intestinal-design-for-vehicle-natural-gas-tank" target="_blank">http://spectrum.ieee.org/energywise/green-tech/advanced-cars/from-the-gut-intestinal-design-for-vehicle-natural-gas-tank</a>.
