%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        An international exhibition took place in Paris in 1889, the early counterpart of today’s World’s Fairs. During the planning stage there was competition between architects for new structures to commemorate the grand event. One French engineer, Gustave (Gustavo) Eiffel (1832-1923), went to an unusual source for new design ideas. He reviewed the work of anatomist Herman von Meyer.1 In the 1850s, Meyer had studied the human femur, or thighbone, which connects to the hip. This bone, the largest in our body, has a very unusual off-center ball joint which fits into the hip socket. For strength, the curved femur head has many internal bone fibers, called trabeculae. These bone fibers criss-cross each other in layers and are precisely aligned to carry the forces of tension and compression. As a result, the femur efficiently supports and transfers the off-center weight of the person. The femur connection may look awkward, but it functions well for a lifetime of movement. Swiss engineer Karl Cullman later generated mathematical models of the femur design.2 He noted that the trabeculae fibers closely resembled the struts and braces used in buildings. Architect Eiffel then took these ideas and designed his famous Eiffel Tower. The outward flares at the base of the tower resemble the upper curved portion of the femur. The internal wrought iron braces used in the tower closely follow the design of the original trabeculae within the femur.
      %p
        The Eiffel Tower has been a Paris landmark for over a century. Including its antennas, the tower reaches a height of 1063 feet (324 meters), or 81 stories. The tower marked the entrance to the 1889 exhibition and was originally built as a temporary structure. Competing architects scoffed at the tower, calling it an eyesore and predicting that it would collapse under its own weight. However, it remains today, over a century later, a Paris landmark. It is the destination of millions of tourists annually. The Eiffel Tower today is considered a work of art, and it is based on the workmanship of the human body. As Psalm 139:14 declares, we are fearfully and wonderfully made.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/people/eiffel_tower.jpg'}
        .col-sm-12
          %img{src: 'images/people/femur.jpg'}
