%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Our hard-working lungs clearly show intelligent planning. Within our lungs, countless tiny air sacks called alveoli exchange gases from the bloodstream, supplying fresh oxygen and removing carbon dioxide. The component membranes which allow separation and passage of the gases are about one thousand times thinner than a printed period. The total gas exchange area adds up to at least 70 time an adult's total body surface area, or the size of a volleyball court. Specialized chemicals, especially carbonic anhydrase, help carry on the continuous gas exchange process.
      %p
        There is ongoing concern about industrial emissions of carbon dioxide into the atmosphere, and our lungs provide valuable clues for solutions. Several companies are researching components called scrubbers which can capture the carbon dioxide greenhouse gas. Their findings remain confidential amid competition. For all of the companies, however, our lungs provide the starting blueprint. Product engineers at Carbozyme Inc. describes their ‘enzyme catalyzed, liquid membrane permeator' which removes 90 percent of the CO2 released in fossil fuel burning.
      %p
        With good success, industry is imitating the exchange processes of our lungs. There should be little surprise in view of the endless practical ideas and discoveries placed by the Creator throughout nature and within our bodies.
    .col-sm-6.text-center
      %img{src: 'images/people/lung_diagram.jpg'}
