%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        This example of a practical design in nature may lack appeal but it is vitally important to our health. A common phrase is to “lick one’s own wounds.” This saying expresses the effort to care for one’s own needs and generally look out for oneself. However, there is a more practical application. Dutch researchers are studying the chemical compounds in human saliva. They find an abundance of simple proteins called histatins that actively fight infection. Also present are compounds that cause epithelium skin cells to close quickly over a wound. Most of us have experienced the benefits of these saliva components. Small cuts inside the mouth tend to heal more rapidly than external injuries, and mouth healing leaves little scaring.
      %p
        This research is changing approaches to clinical medicine. It was previously thought that mouth saliva contained complex compounds called growth factors which aided healing. However, growth factors are not found in significant amounts, but histatins instead. A major benefit is that histatins are easier to manufacture and purify than growth factors. Thus, histatins are now emphasized broadly in medical treatments. God designed our bodies for wellbeing, and we can look within for clues on medical care.
      %p
        Questions<br>
        1. Would not saliva infect an open wound?<br>
        2. I have heard that a pet dog wil lick a wound of its master. Is this true?
    .col-sm-6.text-center
      %img{src: 'images/people/saliva.jpg'}
  .row.references
    .col-sm-12
      %p
        Wright, Karen. 2008. Why wound-licking works Discover,  January issue, p. 54.
