%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        How is a woodpecker able to drill holes into a tree without getting a concussion or at least a severe headache? The bird’s beak drums on a tree up to 22 times a second, giving a deceleration of up to 1200 g’s. Both acceleration and deceleration are changes of motion that result in “g forces.” During launch, space shuttle astronauts experience about 3g which forces them against padded cushions. A roller coaster can produce a 3-6 g force for a short time; jet pilots feel a 9-12 g force in tight turns. A short duration is important to safety, and on a higher scale, forces of 50 g or greater may rapidly prove fatal. The result is loss of vision and blood circulation, and damage to blood vessels and the brain.
      %p
        Researchers at the University of California, Berkeley, identify four designed safety features of woodpeckers. First, the beak is strong and solid, yet flexible. Second, an elastic layer supports the tongue, which itself stretches around the skull beneath the skin. Third, there is a thin fluid-filled space between the skull and brain which minimizes the transfer of vibrations. Fourth, spongy bone separates the woodpecker beak from the brain, damping out forces.
      %p
        The four major safety features of the woodpecker have been utilized in the design of new high impact products including crash helmets and flight data recorders. The four components include an outer metal enclosure, a layer of rubber shock absorber, a second layer of protective metal, and a final layer of tightly-packed glass beads. The researchers inserted sensitive microelectronics into such a package. Then they fired the container at a metal wall resulting in a shock of 60,000 g’s. To their surprise, the electronics survived undamaged. All of God’s creatures clearly display planned and practical design, including the woodpecker. Consider the design features given to nature the next time you here a tap-tap in the trees.
  .row.text-center
    .col-sm-4
      %img{src: 'images/flight/woodpecker_1.jpg'}
    .col-sm-4
      %img{src: 'images/flight/woodpecker_2.jpg'}
    .col-sm-4
      %img{src: 'images/flight/woodpecker_3.jpg'}
  .row.references
    .col-sm-12
      %p
        Marks, Paul. 2011. Woodpecker’s head inspires shock absorbers. <i>New Scientist</i> 209(2798):21.  
