%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        One of the smallest traps in the world is inspiring physicists in studies of fluids. Bladderworts are a type of plant that grows in standing water or wet soil, and sometimes in very rough conditions. A unique aspect of this plant is its underwater roots which include many microscopic bladder-like traps. The trap looks like a small bubble and is covered with tiny hairs and "trap-doors." The plants capture tadpoles, protozoa, or even water fleas, depending upon the species. When the unsuspecting victim approaches the trap-door, it suddenly opens, sucks in the creature, and then shuts again, all in less than one-thousandth of a second. Bladderworts are among the smallest carnivorous plants in the world.
      %p
        The "bladder" part of the trap is emptied of water, creating a partial vacuum. When suddenly opened, in-rushing fluid draws in any nearby creature. The trap-door itself is a marvel, opening like a popped balloon and then quickly reclosing perfectly to reset the trap. Physicists plan to use the bladderwort as a model for moving fluids at the microscopic level. Biotechnology requires the ability to manipulate small amounts of liquid using tools such as ultra-small pipettes. The bladderwort functions very similar to a pipette, and can be used to design lab equipment for scientific research at the level of micro fluids.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/vegetation/bladderwort_1.jpg'}
        .col-sm-12
          %img{src: 'images/vegetation/bladderwort_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Strain, Daniel. Carnivorous bladderworts suck up prey. <i><a href="www.sciencenews.org" target="_blank">www.sciencenews.org</a></i>. Accessed April 20, 2011.
