%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        It has long been known that many climbing plants produce unusual tendrils for grasping and climbing. These include cucumber, sweet pea, morning glory, and grape vines. When stretched tightly, the spiral-shaped fibers do not unwind to a flat ribbon like a typical spring shape such as a telephone cord. Instead, when stretched, sections of the fiber coil further in two opposite directions, tightening and strengthening the fiber.  This allows the plant to pull itself upward toward sunlight by grasping onto a branch or trellis. The tendril begins as a straight stem reaching outward until it contacts an object to connect with. When secure at both ends, the tendril forms both right and left-handed twists with a change in direction near the center of the length. The secret to this spiraling ability lies in the specialized biological architecture of the cells within the tendril.
      %p
        Harvard scientists have modeled the coiling behavior of plant vines with a fiber consisting of copper wire and layers of silicon (Gerbode, et al. 2012). This unusual spring begins without any twists. As tension is applied to the ends, coiling begins. The greater the tension on the spring, the more numerous the coils and resulting resistance to stretching. In engineering language, the spring has a tunable mechanical response to a load. This bio-inspired spring shows promise for applications wherever springs are used. This includes machinery, robotics, and biomedicine.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/vegetation/cucumber_vine_1.jpg'}
        .col-sm-12
          %img{src: 'images/vegetation/cucumber_vine_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Gerbode, S.J., et al. 2012. How the cucumber tendril coils and overwinds. <i>Science</i> 337(6098): 1087-1091.<br>
        A video showing the coiling behavior of the cucumber tendril is at<a href="http://www.guardian.co.uk/science/video/2012/aug/30/plant-tendrils-overwind-pulled-video" target="_blank">http://www.guardian.co.uk/science/video/2012/aug/30/plant-tendrils-overwind-pulled-video</a>
