%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A plant growing in Israel’s Negev desert has master water-collecting ability. The plant, Desert Rhubarb, has very unusual leaves. Most desert plants have small leaves, or none at all, to avoid loss of moisture. The Desert Rhubarb, however, has giant leaves more than a foot across (30 cm). Desert Rhubarb leaves are wrinkled, and in close-up resemble mountain ridges and valleys. Evening moisture settles on the leaves, and then microscopic streams are channeled along the leaf valleys toward the center of the plant and its root system.  The Negev is one of the driest places on earth with just 5 inches (7.5 cm) of rain annually. Ten inches or less of annual precipitation is considered a desert climate. Studies show that the Desert Rhubarb plant harvests at least 16 times more water than expected for its size. With its annual water supply increased to an equivalent of 80 inches annually, the self-watering plant remains green and healthy in its harsh desert environment. There are efforts to copy the detailed shape of the desert rhubarb leaf with various ridged fabrics. Such materials could harvest precious water in the desert.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/desert_rhubarb.jpg'}
