%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Self-driving cars typically use three redundant systems to monitor their surroundings: cameras, radar and infrared (IR) lasers called lidar. One challenge of the lasers is the tendency of dark-colored vehicles to absorb IR radiation rather than reflecting the signal back to the source. That is, dark colors are a serious blind spot for IR laser detection.
      %p
        Eggplant, the odd vegetable with its shiny purple-black surface color, provides insight into laser technology. How does a growing eggplant with its dark heat-absorbing color avoid overheating and spoiling in sunny fields? The solution: It is found that solar IR radiation, a form of heat energy, passes directly through the eggplant surface where the light-colored interior reflects it back outward.
      %p
        Following the eggplant example, dark-colored vehicles can be given a reflective undercoating which makes them readily visible to the IR lasers. This is leading to a major upgrade of surface coatings on vehicles. The undercoating technology is also applied to aircraft to cool their interior cabins.
      %p
        The lowly eggplant shows us how to increase automobile safety. This is just one of countless valuable ideas gained from nature. The suggestion here is that the physical creation is loaded with similar solutions to technical problems and hints for new products. This provides an entirely new approach to science, that is, searching out the secrets that are provided by the Creator for our wellbeing.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/eggplant.jpg'}
