%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Perhaps you recall seeing a reed-like plant growing near a pond or wetland. The plant stem has several telescoping sections which can be pulled apart and reconnected.  It is commonly called horsetail, snake grass, or puzzlegrass. Named Equisetum, this is the only living member of a family of plants that reproduce by spores instead of seeds. The horsetail is called a living fossil with similar fossils in Paleozoic rock layers dated at 100 million years old. In truth, all plants were created on Day 3 of the Creation Week just thousands of years ago.
      %p
        Some fossil horsetail specimens are tree-size. In early creation there were giants in the plant world.There is a strong suggestion, yet undocumented, that the horsetail plant inspired Scottish mathematician John Napier (1550-1617) in his development of logarithms. This is a valuable mathematic tool for describing very small and large numbers, and also the expression of nonlinear data.  Sections of the horsetail stem shorten in a logarithmic or 'telescopic' fashion as they near the top. Logarithmic mathematics is also found embedded in the structure of seashells, pinecones, and elsewhere.There surely remain mathematical discoveries all around us in the world including plants, animals, and crystals. Mathematics appears to be the intelligent language of creation.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/horsetail.jpg'}
