%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Look closely at many tree and plant leaves and you will see an intricate network of veins. Besides the channels branching outward from a central stem, you may also notice many smaller veins in random directions, connecting with each other in closed loops. This complex arrangement is unlike the simple outward geometry of tree branches and root systems. The structure provides protection for the leaf. Suppose there is damage from disease, insects, or wind so that a vein is broken. Nutrients and water can then take alternate paths across the leaf through adjacent veins. Even the larger, central vein of the leaf can be successfully bypassed. The multiple veins also allow for fluctuations in nutrient loads due to moisture and temperature changes. Similar loop network designs are observed in coral colonies, insect wings, and the blood vessels of our eye.
      %p
        Biophysicists at Rockefeller University, New York, are testing mathematical models of the closed-loop vein arrangements of leaves. They suggest that the leaf structure may have wide application in the construction of electric power, transportation, and communication networks. The interconnected closed-loop arrangements require more material than simple outward tree branching. However, the leaf geometry provides safety and cost-effective flexibility for networks.
      %p
        Trees and plants first appeared on day three of the Creation Week. Ever since, they have functioned as their Maker planned. And today, we realize that leaves have much to teach us about the efficient planning of complex networks.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/leaf_veins.jpg'}
  .row.references
    .col-sm-12
      %p
        Sanders, Laura, 2010, Leaves’ loopy networks, <i>Science News</i> 177(5): 10.
