%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Solar energy is a popular topic today, and plants provide us with ideas for efficient collection of sunshine energy. During photosynthesis, sunlight converts carbon dioxide into water and sugars which nourish the plant. Worldwide, the daily rate of solar energy absorption by vegetation is six times greater than the output of all the world’s power plants.
      %p
        A research group at the California Institute of Technology is designing an artificial leaf which mimics the energy conversion process of vegetation. This “leaf” consists of a grid of silicon nanowires, each 1,000 times thinner than a hair. Each fiber is coated with a chemical catalyst. When exposed to the sun, a two-step process occurs. First, electricity is produced, as in solar panels. In the second step, the current of electrons splits water molecules into the component atoms of oxygen and hydrogen. The hydrogen gas is then concentrated and stored as a fuel for later use in cars or the large-scale generation of electricity. 
      %p
        The man-made leaves produce hydrogen fuel instead of the sugars in natural leaves. This new approach is one of several processes to harvest sunlight energy. Ever since their creation on Day Three of the Creation Week, the world’s plants and trees have efficiently gathered sunlight. Today, vegetation instructs us in technology.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/vegetation/leaf_1.jpg'}
        .col-sm-12
          %img{src: 'images/vegetation/leaf_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Regalado, Antonio. 2010. Reinventing the leaf: Artificial photosynthesis to create clean fuel. <i>Scientific American</i> 303(4): 87-90.
