%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Many plant blossoms open and close on a daily schedule and slowly follow the sun across the sky. Other plants display more vigorous behavior. Brush against the Mimosa pudica plant and you are in for a surprise. The small leaves fold inward in just seconds and then slowly reopen. The active plant grows worldwide and the Latin term pudica  means shy, bashful, or shrinking. Other common names include sensitive plant or humble plant. The movement can be seen under the plant name in Wikipedia.
      %p
        Researchers at the University of Michigan and also Penn State are studying the rapid motions of Mimosa. The movement results from rapid osmosis, the flow of water in and out of plant cells. The plant has what amounts to miniature hydraulic pumps, stiffening and wilting its leaves with the rise and fall of internal water pressure. The fast-acting plants are inspiring small "adaptive" or shape-changing structures which can twist, bend, and stiffen as internal water pressure is varied. One result is that so-equipped robotic arms become more flexible. Also, the wings of small reconnaissance aircraft can be made to morph or change shape as needed.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/mimosa_plant.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="http://www.robaid.com/bionics/mimosa-biomimicry-inspires-new-adaptive-structures.htm" target="_blank">http://www.robaid.com/bionics/mimosa-biomimicry-inspires-new-adaptive-structures.htm</a>
