%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        In today’s world more than one billion people lack access to clean drinking water. This leads to untold suffering and death from dysentery, typhoid, and other diseases associated with contaminated water sources. Children are especially victims of unsafe water. One solution to this serious problem comes from a tree which grows worldwide in both tropical and arid areas worldwide, called the miracle tree.
      %p
        The tree, known to botanists as Moringa oleifera, is also called the horseradish tree (from its roots) and the drumstick tree (from the shape of its pods). The miracle tree leaves have medical applications and the seed pods are nutritious. But perhaps even more important, a chemical in the oil from seed pods is found to bind sediment to itself while also killing harmful bacteria including E. coli. In past years, use of an extract from the seeds was too expensive for water treatment, and the resulting water quickly grew new bacteria. These problems have now been solved and Moringa seeds show serious promise for water treatment worldwide.
      %p
        In practice, sand grains are coated with the special seed chemical. The sand is then used as a filter for impure water. This product is called f-sand, short for antimicrobial functionalized sand. When the treated water exits the sand it is clear of turbidity and harmful pathogens. Also, the filtered water can be stored indefinitely without deteriorating. The miracle tree grows rapidly, as tall as 3 meters in one year. Its seeds provide a priceless tool in improving health around the world.
      %p
        This world is filled with similar useful ideas and products, placed there for our benefit by the Creator of the universe.  Surely, many practical designs and solutions to problems remain yet undiscovered. The examples described on this website each illustrate intelligent design. They suggest an entirely new approach to science: Discovering the secrets that our Creator has provided for mankind.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/vegetation/miracle_tree_1.jpg'}
        .col-sm-12
          %img{src: 'images/vegetation/miracle_tree_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Donovan, Patty, 2007, Moringa oleifera, the miracle tree,  NaturalNews,com. <a href="http://www.naturalnews.com/022272.html" target="_blank">http://www.naturalnews.com/022272.html</a><br>
        A podcast about the miracle tree, <a href="http://web.1.c2.audiovideoweb.com/1c2web3536/GC2012_MiracleTreeFINAL.mp3" target="_blank">http://web.1.c2.audiovideoweb.com/1c2web3536/GC2012_MiracleTreeFINAL.mp3</a>
