%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The pitcher plant is one of a family of plants that varies greatly in form and habit. Some grow on tendrils and climbing vines while others form small ground plants. All pitcher plants grow in places where nitrogen is lacking from the soil such as bogs and swamps. Plants require nitrogen for growth and the pitcher plant gets its nitrogen by “eating” small insects and arachnids like flies, ants and spiders.  Most pitcher plants have a tube-shaped leaf that acts as a cup or “pitcher.” Rainwater collects inside the cup and traps bugs unfortunate enough to fall inside. Enzymes in the water then digest the victim. The key to the plant’s success is the inside of the cup-shaped leaf with a surface which repels both water and oil. Most substances can only repel one or the other of these liquids since their physical properties are very different. The pitcher plant leaf surface holds a thin film of lubricant that repels the oil on the insects’ feet as well as water that falls inside the plant. Any insect that gets drops even slightly over the edge is doomed. Researchers studying the plant have been able to mimic, to a small degree, the lubricating properties of the pitcher plant leaf. The design involves a lubricant-saturated porous solid that repels both water and oil. It even cleans and heals itself. This technology will have a wide range of application including biomedical devices and coatings for glass lenses.  Some claim that the pitcher plant evolved through history by time and chance processes. However, supporting fossils are lacking. The pitcher plant is a masterpiece of design and a marvelous testimony to the Creator who gave it the necessary parts for flourishing, and also provided humanity with an amazing design that will benefit technology.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/pitcher_plant.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="http://www.botany.org/carnivorous_plants/" target="_blank">http://www.botany.org/carnivorous_plants/</a><br>
        Nosonovsky, M. (2011). Materials science: Slippery when wetted. <i>Nature</i>, 477(7365), 412-413.
