%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Efforts continue to improve high-capacity batteries for cell phones, tablets and electric cars. It has always been a challenge to store electrical energy safely and compactly. Lithium-ion batteries remain popular and versions that are more efficient are on the way.
      %p
        Silicon components make up part of high-tech batteries; however, silicon deteriorates by expanding and contracting as a battery cycles through charging and discharging. Scientists at Stanford University now have found a novel solution to this problem based on the arrangement of pomegranate seeds.
      %p
        Pomegranates are an apple-size fruit filled with hundreds of bright red seeds in divided pods. In a similar way, within batteries, silicon nano-particles are enclosed within small pods. These tiny units allow the silicon particles to expand and contract without deterioration. It is also found that bits of rice husk provide a suitable ‘rind’ or enclosure for the silicon particles.
      %p
        As a result, the multiple silicon pods on a microscopic level resemble the array of seeds within the pomegranate fruit. This battery improvement is a further example of biomimicry, the application of ideas from nature to solve technical problems. In the biblical worldview, multiple ideas exist all around us in creation for our discovery and application.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/pomegranate.png'}
