%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        Sugar beets provide 30 percent of the world’s sugar. At refineries, the sugar is extracted and a liquid residue remains. In the upper Midwest, it was noticed that this residue, placed in holding ponds, did not freeze under wintry conditions. Chemical studies reveal a natural antifreeze chemical in the beets. This design feature protects the growing beets themselves from the cold, and also caught the attention of highway crews.
      %p
        During the winter season, much effort goes into highway safety. Snow and ice are treated with sand along with salts including sodium chloride and calcium chloride. The salt spray can harm roads, vehicles, roadside vegetation, and animals. Sugar beets provide a natural, biodegradable, “green” solution to slippery roads. A mixture of ten percent beet juice combined with the chloride salts makes very effective brine to clear roads of snow and ice . The beet juice does not stain and it readily washes off cars. The lowly sugar beet nourishes people worldwide, and now in addition, provides protection on winter highways. Creation details continue to present new, useful ideas.
  .row.text-center
    .col-sm-4
      %img{src: 'images/vegetation/sugar_beet_1.jpg'}
    .col-sm-4
      %img{src: 'images/vegetation/sugar_beet_2.jpg'}
    .col-sm-4
      %img{src: 'images/vegetation/sugar_beet_3.jpg'}
