%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Sunflowers follow the sun. The flower slowly turns to face the sun during daylight, at least until the seeds grow heavy and cause the head to droop downward. This plant movement is called heliotropism and occurs for certain flowers.
      %p
        A company with roots in Austria models an unusual solar collector on the behavior of sunflowers, a device called Smartflower (smartflower.com). Instead of a rectangular array of solar panels placed on a rooftop, the flower-like collector is circular and positioned on the ground. There are twelve panels, or petals, which open at sunrise and close at sunset or during strong winds. The sliding motion of the panels includes brushes which remove dust and debris, a problem with traditional solar arrays. A GPS interface causes the Smartflower panels to track the sun directly with a high efficiency of solar energy capture. The outward diameter of the available array is 16 feet and the cost is about $27,000 with several options.
      %p
        The new solar collector design is artistic, similar to sunflowers. Plants first appeared on Day 3 of the Creation Week according to Genesis 1:11-12. They have processed sunlight through history and only in recent decades have we learned to duplicate their ability.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/sunflower_solar_panel.png'}
