%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Leonardo da Vinci (1452-1519) made a fascinating discovery about trees. The total thickness of the branches at a particular height closely matches the average thickness of the trunk. As the upper branches taper in size, their number increases in step. In other words, if all the tree’s branches somehow could be folded upward and squeezed together, the tree would look like a long cylinder with the same diameter from top to bottom.
      %p
        For five centuries, scientists have pondered the reason for da Vinci’s rule for trees. One popular suggestion is that equal cross-section branch area is needed for internal flow of sap, but it is not convincing. After all, the portion of a tree’s wood responsible for fluid transport varies greatly and can be as low as 5 percent.
      %p
        Researcher Christophe Eloy from the University of Provence in France has now provided a credible explanation to the pattern of tree growth. His mathematics and computer modeling show that the tree branch design is ideal for strength against breaking in windy conditions. This means that the growth of trees is programmed for their survival.
      %p
        One obvious application of the da Vinci rule is in the construction of bridges, high-rise buildings, and towers. Wind stress is indeed considered in such structures; however, the rule of equal cross-section area at various heights is a new concept for architectural consideration. Trees, first appearing on Day Three of the Creation Week, are instructing us in construction design. The da Vinci rule is an example of planned, useful design in nature.
    .col-sm-6.text-center
      %img{src: 'images/vegetation/tree.jpg'}
  .row.references
    .col-sm-12
      %p
        Eloy, C. 2011. Leonardo’s rule, self-similarity and wind-induced stresses in trees. <i>Physical Review Letters</i> 107, 258101.<br>
        No author. 2011. Da Vinci helps trees resist wind. <i>New Scientist</i> 212(2841):22.
