%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Many trees do not have vertical capillary tubes for transporting water upward. Instead, a spiral network of capillaries and fibers extend the entire length of the tree. This helical geometry strengthens the tree, allowing a greater flexibility or bending motion in high wind or during heavy weight loads. The spiral pattern is sometimes noticed on the surface of dead trees which have lost their bark.
      %p
        Product designer Carlos Rego has applied the spiral design of the whitebark pine tree to a current environmental problem. The challenge concerns the plastic bottles used for drinking water. One source estimates that 2.7 billion plastic bottles are made each year, consuming 100 billion barrels of oil in the process, and eventually adding to landfills. The bottles are typically made of the plastic polyethylene terephthalate, or PET. For recycling purposes this plastic has the resin identification number 1.
      %p
        In an effort to reduce the amount of plastic for each bottle, Carlos hit on the idea of spiral grooves placed on the sides of the bottle. This is found to strengthen the bottle more than either smooth sides or circular indents. As a result, the bottles use about 25 percent less plastic. The curved ridges on water bottles are now widely used, with about 25 percent less plastic than earlier. Take a look at any nearby water bottle and you may well see curved ridges on its surface. 
      %p
        Thank you to the trees for helping us design more efficient plastic containers. Trees were created on Day Three of the Creation Week, in all of their beauty and design. Step by step, we are learning the Creator’s works.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/vegetation/tree_spirals_1.jpg'}
        .col-sm-12
          %img{src: 'images/vegetation/tree_spirals_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Ask Nature: Vitalis PET Bottle. <a href="http://www.asknature.org/product/b5dc4030c48e41b03442d34aecdf46b4" target="_blank">http://www.asknature.org/product/b5dc4030c48e41b03442d34aecdf46b4</a> plan for us to learn from his works. 
