%h1 About DeYoung
.well.about-deyoung
  .row
    .col-sm-6
      .row
        .col-sm-12
          %h2 Biography
          %p
            Don DeYoung is Chairman of Physical Sciences, Grace College, Winona Lake, Indiana. Courses taught include physics, astronomy and mathematics.  He joined the Grace faculty in 1972, and has spent sabbatical leaves in California, Europe, and the South Pacific.  Don is currently president of the Creation Research Society with 1,700 members worldwide.  This group funds research, publishes a technical quarterly journal, and operates a laboratory in Arizona.  Don speaks on creation topics and believes that the details of nature are a powerful testimony to the Creator's care for mankind.
        .col-sm-12.text-center
          %img{src: '/images/deyoung-large.jpg'}
    .col-sm-6
      .row
        .col-sm-12
          %h2 Education
          %p
            Michigan Tech University (B.S., M.S., Physics)<br>
            Iowa State University (Ph.D., Physics)<br>
            Grace Seminary (M.Div.)
        .col-sm-12
          %h2 Honors/Awards/Assocations
          %p
            Indiana Academy of Science<br>
            AuSable Environmental Institute<br>
            Creation Research Society<br>
            Institute for Creation Research
        .col-sm-12
          %h2 Publications
          %p
            Don's writings have appeared in many periodicals. He has also written sixteen books on Bible-science topics, including object lessons for children.  For a list of available books, see the book page or contact the author.
