%h1 Books by DeYoung
.books
  %table.table.table-hover
    %thead
      %tr
        %th Year
        %th Title
        %th Publisher
        %th ISBN
    %tbody
      %tr
        %td
        %td Weather and the Bible (Question/answer format)
        %td Baker
        %td 0-8010-3013-7
      %tr
        %td 1994 (Out of print)
        %td Voyage to the Planets (Children's book, co-authored with Richard Bliss)
        %td Institute for Creation Research
        %td 0-932766-32-3
      %tr
        %td 1994-2002
        %td Science and the Bible, Volumes 1, 2, & 3, (Bible-science object lessons)
        %td Baker
        %td 0-8010-3023-4, 0-8010-5773-6, 0-8010-6421-X
      %tr
        %td 1995
        %td Astronomy and Creation
        %td Creation Research Society (CRS)
        %td 0-940384-17-5
      %tr
        %td 1997
        %td Physical Science and Creation
        %td CRS
        %td 0-940384-19-1
      %tr
        %td 2000
        %td Fascinating Facts from the World of Discovery
        %td Master Books
        %td 0-89221-500-3
      %tr
        %td 2000
        %td Dinosaurs and Creation (ebook, question/answer format)
        %td Baker
        %td 0-8010-6306-X
      %tr
        %td 2002
        %td Design and Origins in Astronomy (Technical, co-authored with Emmett Williams)
        %td CRS
        %td 0-940384-26-4
      %tr
        %td 2004
        %td Geology and Creation (Question/answer)
        %td CRS
        %td 0-940384-29-9
      %tr
        %td 2005
        %td Thousands...not Billions (The age of the earth, technical)
        %td Master Books
        %td 0-89051-441-0
      %tr
        %td 2006
        %td Pioneer Explorers of Intelligent Design
        %td Brethren Missionary Herald
        %td 0-88469-073-3
      %tr
        %td 2009
        %td Discovery of Design
        %td Master Books
        %td 0-89051-574-3
      %tr
        %td 2010
        %td Astronomy and the Bible
        %td BMH Books
        %td 0-8010-2991-0, 0-8010-6225-X
      %tr
        %td 2010
        %td Our Created Moon (Co-authored with John Whitcomb)
        %td Master Books
        %td 978-0-89051-581-5
  %p
    Purchase at <a href="http://www.creationresearch.org/" target="_blank">Creationresearch.org</a>, Amazon.com, or other distributers. Signed books are available from the author.
