%h1 Contact Us
.well.contact-us
  .row
    .col-sm-12.text-center
      %p
        Let us know how you like this website or if you want to know more about design in nature!
      %br
      %p
        Phone: 574.372.5100 ext 6441
      %p
        Email: dbdeyoung@grace.edu
      %p
        %a{href: 'mailto:dbdeyoung@grace.edu'} Click here to email Dr. DeYoung.
      %br
    .col-sm-6
      %img{src: 'images/contact_us_1.jpg'}
    .col-sm-6
      %img{src: 'images/contact_us_2.jpg'}
