%footer.footer
  .container
    .hidden-xs
      &copy; Discovery of Design
      &nbsp; • &nbsp;
      %a{href: 'about_deyoung'} About DeYoung
      &nbsp; • &nbsp;
      %a{href: 'contact_us'} Contact Us
    .visible-xs-block
      %p 
        %a{href: 'about_deyoung'} About DeYoung
        &nbsp; • &nbsp;
        %a{href: 'contact_us'} Contact Us
      %p &copy; Discovery of Design
