%nav.navbar.navbar-fixed-top.navbar-default
  .container  
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-navbar-collapse', 'aria-expanded' => 'false'}
        %span.sr-only Toggle Navigation
        - 3.times do
          %span.icon-bar
      %a.navbar-brand.hidden-xs{href: '/'} Discovery of Design: Biomimicry in Nature
      %a.navbar-brand.visible-xs-block{href: '/'} Discovery of Design
    .collapse.navbar-collapse#bs-navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: 'design_of_the_month'} Design of the Month
        %li
          %a{href: 'new_book'} New Book
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false}
            Design Examples
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: 'flight'} Flight
            %li
              %a{href: 'land_animals'} Land Animals
            %li
              %a{href: 'microorganisms'} Microorganisms
            %li
              %a{href: 'nonliving_objects'} Non-living Objects
            %li
              %a{href: 'people'} People
            %li
              %a{href: 'small_creatures'} Small Creatures
            %li
              %a{href: 'underwater'} Underwater
            %li
              %a{href: 'vegetation'} Vegetation
        %li
          %a{href: 'background'} Background
        %li
          %a{href: 'useful_links'} Useful Links
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false}
            Books
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: 'books_by_deyoung'} Books by DeYoung
            %li
              %a{href: 'book_of_the_month'} Book of the Month
