.row
  .col-sm-12.text-center.custom-font
    %h2 Welcome to Discovery of Design!
.row
  .col-sm-6
    .row
      .col-sm-12#homepage-purpose
        .well
          %h2 Our Purpose
          %p
            We strive to highlight practical designs placed in nature by the Creator for our benefit. This is a new paradigm for science study: searching out the Creator's secrets. Check out the <a href="design_of_the_month">design of the month</a>, or peruse through the many design examples!
          %h4 Thanks for visiting!
      .col-sm-12
        .row
          .col-sm-12.col-md-6#homepage-profile
            .well
              %h3.text-center
                %a{href: 'http://www.creationwiki.org/Don_DeYoung', target: '_blank'} Dr. DeYoung's Profile
              %a{href: 'http://www.creationwiki.org/Don_DeYoung', target: '_blank'}
                %img{src: 'images/deyoung.jpg'}
          .col-sm-12.col-md-6#homepage-dotm
            .well
              %h3.text-center
                %a{href: 'design_of_the_month'} Design of the Month
              %a{href: 'design_of_the_month'}
                %img{src: 'images/design_of_the_month.jpg'}
  .col-sm-6#homepage-new-book
    .well
      %h3.text-center
        %a{href: 'new_book'} New Book!
      %a{href: 'new_book'}
        %img{src: 'images/new_book.jpg'}
  
