!!! 5
%html{lang: 'en'}
  %head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    %script{ async: true, src: 'https://www.googletagmanager.com/gtag/js?id=UA-140833368-1'}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-140833368-1');

    %meta{charset: 'utf-8'}
    %title Discovery of Design
    %link{href: 'stylesheets/bootstrap.css', rel: "stylesheet"}
    %link{href: 'stylesheets/custom.css', rel: 'stylesheet', type: 'text/css'}
  %body
    = haml :header
    .container
      = yield
    = haml :footer
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'}
    / %script{src: 'javascripts/backup/jquery-3.1.0.min.js'}
    %script{src: 'javascripts/bootstrap.js'}
