.row.well#new-book
  .col-sm-6#new-book-info
    %h3 New Book!
    %p
      This new book describes fascinating science activities for all ages, 5-95. Each activity uses everyday objects to describe a science idea and also to teach a Bible truth. Useful for any size group. 
    %br
    %p
      Title: 77 Fairly Safe Science Activities for Illustrating Bible Lessons
    %p
      Published: September 2013
    %p
      Author: Don B, DeYoung
    %p
      272 pages, paperback, $13.99
    %p
      Available from Amazon (also on Kindle), Bakerbooks.com, or from the author
  .col-sm-6#new-book-img
    %img{src: 'images/new_book.jpg'}