.row.well
  .col-sm-6#book-of-the-month-text
    %h3 Book of the Month: Our Created Moon
    %p
      Dr. DeYoung and John Whitcomb's update to a classic work.
    %p
      Features questions and answers related to the moon's place in creation, purpose, and design!
    %p
      This colorful book is an updated version of DeYoung and Whitcomb’s previous book with the same title. This edition contains 46 questions divided into five sections, and each of them deal with a different aspect of the moon’s special place in creation. Scattered throughout the book are vocabulary words, fun facts, moon activities, and suggestions for further study. It has the potential to be used at home or in school as an educational resource. This book maintains the strong dedication to Scripture and the understandable writing style of the earlier edition, and will be a valuable asset to anyone interested in learning more about our very different yet very special neighbor, the moon.
    %br
    %p
      Title: Our Created Moon
    %p
      Published: 2010 by Master Books, hardback, 94 pages.
    %p
      Authors: Don B, DeYoung, John Whitcomb
    %p
      Available from Creationresearch.org, Amazon.com, and other distributers.
    %p
      Signed copies from the authors are available upon request.
  .col-sm-6#new-book-img.text-center
    %img{src: 'images/our-created-moon.jpg'}
