%h1 Useful Links
.well.useful-links
  %p
    Check out these sites. The first three promote evolution; however, their examples of created design are crystal clear.
  %ul
    %li
      %a{href: 'http://www.asknature.org/'} asknature.org
    %li
      %a{href: 'http://www.biomimicry.com/'} biomimicry.com
    %li
      %a{href: 'http://www.biomimicryinstitute.org/'} biomimicryinstitute.org
    %li
      %a{href: 'http://www.answersingenesis.org/'} answersingenesis.org
    %li
      %a{href: 'http://www.creationresearch.org/'} creationresearch.org
    %li
      %a{href: 'http://www.creation.com/biomimetics'} creation.com/biomimetics
    %li
      %a{href: 'http://www.icr.org/'} icr.org
