%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Brazil's Amazon waterways are home to the feared piranha. The razor-like teeth of these aggressive fish make quick work of most prey. However, large Arapaima fish share space with piranha, even in crowded ponds. Arapaima are one of the largest freshwater fish, reaching 300 pounds and a length of 8 feet (2.5 meters).
      %p
        Piranhas have learned that the Arapaima's armor-like protective scales cannot be overcome. These scales have a hard, mineralized shell-like surface which is anchored to underlying flexible muscle. The structure reminds one of a tooth with hard enamel on the outside and softer dentin beneath.  If a piranha bites into the scale of such a fish, the surface flexes inward without breaking. Instead, the aggressor's tooth likely breaks. Research engineers at the University of California, San Diego, have verified this outcome. They pressed piranha teeth into Arapaima scales at extremely high pressure and observed the scales to crack without breaking.
      %p
        The protective behavior of Arapaima scales has caught the interest of scientists who search for useful new materials. A similar surface with hard and soft layers suggests flexible ceramics, of great interest for fuel cells and aerospace components. The tough, non-stiff scales of the Arapaima also fit the requirements for personal body armor.
      %p
        It is no surprise that Arapaima have long been a food source in South America. The scales, up to four inches (10 cm) long are also used by locals as nail files. Fish first appeared on Day Five of the Creation Week. The Creator provided all life with advanced design and practical applications, as displayed by the Arapaima.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/arapaima_fish_1.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/arapaima_fish_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Meyers, Marc,  et al. 2010. Biological materials: A materials science approach <i>The Journal of the Mechanical Behavior of Biomedical Materials</i>.<br>
        A video of the Arapaima scale experiment is shown at <a href="http://www.physorg.com/news/2012-02-materials-piranha-proof-armor.html" target="_blank">http://www.physorg.com/news/2012-02-materials-piranha-proof-armor.html</a>. 
