%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Portland cement is a major component of concrete, used worldwide in construction projects. The cement is made from limestone and other ingredients in a high temperature kiln process above 2500°F. One by product of the cement preparation is a large amount of carbon dioxide, a greenhouse gas which is not friendly to the environment when in excess amounts.
      %p
        Scientists at Stanford University, led by Brent Constantz, have found an alternative to traditional cement production. They study coral which forms the largest biologically formed structures in the world. Australia’s Great Barrier Reef, for example, covers more than 100,000 square miles. Coral consists of calcium carbonate, CaCO3, the same chemical compound as limestone. Biomineralization is the process by which the coral organisms build their exoskeleton homes from seawater.
      %p
        The Stanford researchers have learned to duplicate the chemical ability of the coral. Carbon dioxide gas is captured, from a power plant for example, and then is dissolved either in sea water or in brine from deep wells. The result is carbonated water which is then mixed with calcium to precipitate calcium carbonate as a powder. When dried, this material is found to function well in place of the previous high temperature cement process. And in the bargain, large amounts of carbon dioxide gas are soaked up or sequestered instead of being released to the atmosphere.
      %p
        A company called Calera is testing the new user-friendly approach to cement production. Coral organisms, which have been building solid structures ever since the creation week, are teaching us efficient ways to prepare cement. On land and sea, nature is filled with God-given design ideas for new products and solutions to problems.
    .col-sm-6.text-center
      %img{src: 'images/underwater/coral.jpg'}
