%h1 Coral - Tires
.well.design-example
  .row
    .col-sm-12.design-text
      %p
        Current highway developments include driverless cars and electric motors. Further plans are closer to the ground, that is, the tires. Important strides have been made with the safety and lifetime of traditional tires. A fascinating, possible next step includes the novel idea of spherical tires. Just imagine ball-shaped tires which can rotate in any direction. Such a vehicle could slide from lane to lane, spin 360 degrees in place, and move sideways for parallel parking. The vehicle would be suspended slightly above the tires by magnetic levitation. That is, the computer controlled tires would not be in physical contact with the vehicle.
      %p
        A major challenge of such tires is that they must grip the highway in any direction they turn, and one such tread design is inspired by the grooved surface of brain coral. The curved, zig-zag surface of this coral provides just the geometry needed for the rubber surface of spherical tires. Such auto tires sound a bit like science fiction. In time, however, the impressive design of brain coral may lead the way to the future of automobile tires.
    .col-sm-12.text-center
      .row
        .col-sm-6
          %img{src: 'images/underwater/coral_tires_1.jpg'}
        .col-sm-6
          %img{src: 'images/underwater/coral_tires_2.jpg'}
