%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Ongoing research on the crayfish tail is helping researchers design new and better space robots. The nervous system of one particular kind of crayfish found in Australia, the yabby, shows advanced capabilities for study. Most robots designed for space are expensive and massive. Robots the size of crayfish would be small and light enough to deploy several at a time, increasing efficiency and information gathered.
      %p
        The tail of the yabby acts like a multi-hinged lever that allows it to change shape slightly and function in different ways. Examples of different ways the crayfish uses its tail include a rudder for steering and a paddle for swimming. The muscles and nerves required for this operation provide an open laboratory for researchers to study and emulate with electronics and miniature hardware.
      %p
        The crayfish is another example of an animal that is supposed to have evolved through random chances processes. However, the design that we see evident in the crayfish tail better supports the position that all crayfish, including the yabby, were designed by God for a life in the water. Perhaps God also intended for humans to use the designs found in the crayfish to better our own lives, including space exploration.
    .col-sm-6.text-center
      %img{src: 'images/underwater/crayfish.jpg'}
  .row.references
    .col-sm-12
      %p
        <i>Science News</i>. 2002. Crayfish Robots On Mars? Sciencedaily.com Accessed April 12, 2011.
