%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A tsunami is an ocean disturbance resulting from seismic movement of the sea floor. A wave results and moves across the ocean surface at hundreds of miles per hour. In deep water the passing wave may be only a foot or less in height. Approaching the shallow shoreline, however, the wave becomes large with resulting flood danger and destruction.
      %p
        In recent years, sensitive pressure sensors have been placed on the seafloor to detect tsunami waves. Data must be transmitted to a surface buoy, and here a problem arises: It is difficult to send information through water. However, it is noticed that dolphins are experts at underwater communication. They are able to recognize specific calls up to 15 miles (25 km) away. They are found to send and receive several frequencies of sound or pressure waves. Dolphin receptors hear a clear message by overcoming signal interference, scattering, and reverberation.
      %p
        A company called EvoLogics has developed underwater electronics which copy the communication ability of dolphins. The system is presently used in tsunami warning systems. Dolphins lead the way in warning and protecting coastal villages from tsunami waves.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/dolphin_2.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/dolphin_5.jpg'}
