%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        Many sea creatures including dolphins, porpoises, and whales have a tail structure that results in impressive bursts of speed. Their tail fin, called a fluke, is waved back and forth to provide forward motion. Meanwhile, the pectoral and dorsal fins provide directional stability. Dolphins reach speeds of 30-40 miles/hour (48-64 km/hr) and can leap completely out of water. Similarly, massive whales are able to breach or break from the water surface as they churn their tails.
      %p
        The human swimming speed record for a short stretch is 2.29 meters/second (7.5 ft/sec, 5.1 mi/hr), nearly eight times slower than dolphins. Aquatic engineer Ted Ciamillo decided to speed things up. As a result, he designed a single, flexible dolphin-like fin which attaches to both feet. By dolphin-kicking, the user easily moves through water at 8 mi/hr. The efficient gliding movement takes little effort and wearers have held a steady pace for hours on end. The monofin device is marketed under the name Lunocet. The adjective lunate comes from Latin and means crescent, the shape of the dolphin’s tail fin. Creatures on land and sea provide us with endless practical ideas designed by their Maker, including efficient swimming.
      %p
        Inventor Ted Caimillo explains that the super-flipper enables a swimmer to experience the freedom of scuba diving without the accompanying bulky equipment. Ted has also applied a large lunocet-shaped tail to a human-powered mini-submarine with a “tail” moved by bicycle-like pedals. The inventor hopes to pedal 3,000 miles underwater, crossing the Atlantic Ocean with his unusual craft. If successful, the quiet motion will provide an excellent opportunity to study inquisitive sea life.
  .row.text-center
    .col-sm-4
      %img{src: 'images/underwater/dolphin_2.jpg'}
    .col-sm-4
      %img{src: 'images/underwater/dolphin_3.jpg'}
    .col-sm-4
      %img{src: 'images/underwater/dolphin_4.jpg'}
