%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Many marine creatures produce chemical light in a process called bioluminescence. The typical color produced is blue. One group of deep-sea fish, however, called the Malacosteid family, produce an unusual red color. They are also called dragon-fish or loose-jaws. Other fish cannot see or detect the red color, so dragon-fish are able to communicate with each other in secret.
      %p
        Studies at Columbia University Medical Center, New York, have now shown how the dragon-fish is able to see hues of red in the darkness, a mile deep in the sea. An unexpected chemical is present in the dragon-fish eye, chlorophyll. This green pigment is present in most plants and readily absorbs blue and red light. Somehow, the fish chlorophyll absorbs red light, which then excites the eyes’ other light detecting pigments resulting in vision.
      %p
        One potential application is copying the dragon-fish chlorophyll process for our own night vision. Experiments with mice and rabbits suggest that administering chlorophyll drops to the eyes can double the ability to see. The U.S. military is interested in the findings since nighttime goggles are bulky to use. Thus, the dragon-fish has the potential to help us see better in the dark. Psalm 104:24-25 states it well:
      %blockquote
        %p
          "How many are your works, O Lord!<br>
          In wisdom you made them all;<br>
          The earth is full of your creatures.<br>
          There is the sea, vast and spacious,<br>
          Teeming with creatures beyond number-<br>
          Living things both large and small.
        %small
          Psalm 104:24-25
    .col-sm-6.text-center
      %img{src: 'images/underwater/dragonfish.jpg'}
  .row.references
    .col-sm-12
      %p
        Wenner, Melinda. 2009. Night vision Drops <i>Discover</i> September, p. 18.
