%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Adult electric eels reach a length of two meters (about six feet) and may weigh 44 pounds (20 kg). They generate powerful electric shocks for self defense and to shock prey. The 650 volts of electricity and one ampere of current is sufficient to stun large sea creatures within about two meters distance.
      %p
        The electric eel's ability comes from 5000-6000 internal layers of cells or electroplaques, stacked in a series circuit like the cells of a car battery. The electroplaques are located in the rear two-thirds of the eel's body. The eel is able to pump positively charged potassium and sodium ions from these cells. As this occurs, a large concentration of negative electrons is left behind. Then, when ready, the eel triggers a rapid release of the electrons from the cells, producing a temporary, potent electrical current in the surrounding water.
      %p
        Researchers at Yale University hope to use the cell structure of electric eels to power biomedical implants. The artificial implants are used as brain monitors and heart defibrillators. Multiple tiny cells, similar to that of the eel, can be combined to produce about 1.5 volts, the same as a standard flashlight battery. The amazing electric eel provides us with a model for the useful microscopic bio-batteries.
    .col-sm-6.text-center
      %img{src: 'images/underwater/electric_eel.jpg'}
  .row.references
    .col-sm-12
      %p
        Anonymous. 2009. Electric potential. <i>The Economist</i> 393(8661), p. 5.<br>
        Bland, Eric. 2009.  Electric eel cells inspire energy source. <i>Discovery News</i>. <a href="http://dsc.discovery.com/news/2008/10/21/electric-eel-energy.html" target="_blank">http://dsc.discovery.com/news/2008/10/21/electric-eel-energy.html</a>
