%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Robert Fergusson (1877 – 1940) was a Scottish born sea captain. During this era of sailing ships, exposed metal quickly rusted and weakened. Early on it was noticed that when fish oil accumulated on metal decks, rust was inhibited. It became common to apply fish oil to the metal surfaces. However there were two disadvantages: The oil dried slowly and one could “smell the stuff a mile away.”
      %p
        Fergusson experimented with many varieties of fish oil while on board ships. Finally, in 1921-22, he found that processed sardine oil dried quickly, could be dyed various colors, and did not smell strongly. He began marketing his fish-oil paint under the name Rust-Oleum©, the second syllable being the Latin word for oil. In the Chicago area, Fergusson advertised his product by applying the product in various patterns to rusting water tanks, walls, and locomotives. The rust-preventative nature of the paint became obvious and visible for years.
      %p
        Today, the Rust-Oleum company, headquartered in Illinois, produces many kinds of paint, both oil and water based. During the early years the oil-based variety had a ‘fishy smell’ because of its ingredients.
      %p
        Over and over again we find that discoveries in nature lead to useful products and solutions to technical problems. Fish oil has its own set of essential purposes for these graceful swimmers which were created on Day Five of the creation week. Today, in addition, fish oil leads us to a practical rust preventor.
    .col-sm-6.text-center
      %img{src: 'images/underwater/boat.jpg'}
