%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A researcher at Caltech is developing new ways to power submarines and windmills using the lowly jellyfish. Jellyfish have a unique method of swimming through ocean water. Rather than using fins and flippers, they “pump” their body to produce ring-shaped pulses of water called vortex rings. These vortex rings are spinning, donut-shaped masses of water that the jellyfish uses as a launch pad to propel itself forward through the water. This type of swimming is much more efficient than pushing water backward in a single stream.  
      %p
        The jellyfish design is being considered for several possible applications including submarine vessels used for research. Vortex rings can increase the efficiency of these vessels by as much as 40 percent which allows them to travel using less power. It may also be possible to apply vortex rings to fields as diverse as heart disease research and wind farms. The same principles of fluid mechanics apply in each case.  Jellyfish are thought by evolutionists to be one of the earliest swimming creatures to evolve. Yet their design is such that engineers can use them to develop sophisticated propulsion methods for modern technology. God’s wisdom and power are apparent in the jellyfish, and His care for humans is evident in allowing us to learn from His creation.
    .col-sm-6.text-center
      %img{src: 'images/underwater/jellyfish.jpg'}
  .row.references
    .col-sm-12
      %p
        Hunt, Will. 2011. Five Questions for John Dabiri. <i>Discover</i> May 2011, p. 18.<br>
        Thompson, Kalee. 2008. The Jellyfish Engineer. <a href="http://www.popsci.com" target="_blank">http://www.popsci.com</a>. Accessed April 11, 2011.<br>
        Caltech Today. 2008. Caltech Scientist Named One of "Brilliant Ten" by <i>Popular Science Magazine</i>. <a href="http://today.caltech.edu/today/story-display.tcl?story_id=31914. Accessed April 11, 2011" target="_blank">http://today.caltech.edu/today/story-display.tcl?story_id=31914. Accessed April 11, 2011</a>.
