%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Lobsters are master sniffers. In complete watery darkness they are able to smell and locate food, mates, or predators. This ability comes from a pair of antenna which they swing about to capture traces of odor molecules.
      %p
        Traditionally it was thought that, unlike hearing, time was not a key factor in the sense of smell. However, it is noticed that a lobster olfactory neuron constantly discharges small bursts of electrical pulses. These signals may enable the lobster to pinpoint sources of small by determining the precise time difference between whiffs of odor coming from various directions. On the other hand, the lobster may actually be emitting and receiving reflected signals, somewhat like radar or sonar.
      %p
        The details of lobster odor detection may hold the key to sensitive electronic sensors. Several universities and military branches are exploring a new generation of robotics which will sniff out landmines, gas leaks, harmful bacteria or toxic chemicals.
      %p
        Lobsters were created on day five of the Creation Week along with all other sea life and birds. How is it that these creatures are equipped with advanced technology for their survival? It is surely a testimony to intelligent design. As a bonus, their study helps us solve technical problems and generate new products.
    .col-sm-6.text-center
      %img{src: 'images/underwater/lobster.jpg'}
