%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        How do sea shells stay in one piece as they are buffeted constantly by strong currents and waves? After all, most shells consist of calcium carbonate (CaCO3) which is a brittle and relatively weak material. Calcium carbonate takes many forms including marble, limestone, and chalk.
      %p
        One secret of success is the distribution of fine cracks within the shell structure. Mollusk shells, abalone for example, contain small hexagonal plates of calcium carbonate interlocked somewhat like Lego blocks. The plate boundaries are filled with a weaker material which can slightly deform when stressed. As a result the shells do not shatter upon impact but instead flex as needed.
      %p
        A major application of the mollusk shell strength became apparent to researchers at McGill University, Montreal, Canada: glass. They wondered whether ordinary glass could be strengthened by borrowing the mollusk design. The technique is to engrave invisible micro grooves throughout a glass panel using a laser. These channels are then filled with a clear polymer. The result is glass which can bend by several degrees when stressed without breaking. This new form of glass is found to be 200 times more resistant to breaking than ordinary glass. 
      %p
        Thus far the new glass application has been limited to the small rectangular slides used in microscopy. If dropped, the thin slides hit and bounce without breaking. When scaled up to household size, windowpanes may withstand the impact of stray neighborhood baseballs. Materials in nature are found again and again to be superior to our manmade fabrication efforts. We have much to learn by studying the handiwork details of the Creator.
    .col-sm-6.text-center
      %img{src: 'images/underwater/mollusk.jpg'}
  .row.references
    .col-sm-12
      %p
        Mirkhalaf, M. et. al, Overcoming the brittleness of glass through bio-inspiration and micro-architecture, <i>Nature Communications</i> 5, 2014. 
