%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        An estimated 20 percent of clean water is lost worldwide due to leaks in pipes, enough water to supply a billion people. Locating these underground leaks is difficult and a Boston company, Watchtower Robotics, is addressing the problem. One approach is inspired by the body structure of the octopus. The flexibility of this creature allows it to maneuver in narrow spaces.
      %p
        The researchers have designed a similar soft-bodied robot with no rigid structure. It moves through water pipes, large or small, by remote control. Its sensors then detect the outward movement of any water lost due to leaks. At such locations, the robot attaches a beacon to the pipe wall. This device transmits a signal that is detected above ground, telling surface crews exactly where to dig for repairs.
      %p
        When moving through the water supply pipe, the octopus-inspired robot is battery powered and propels itself by pulses of water similar to jellyfish. From start to finish, the design of sea creatures helps solve water leak problems. All sea life appeared supernaturally on day four of the Creation Week, complete with high-tech design. Biomimicry is the study of nature for new products and solutions to problems, all examples of intelligent design planned by the Creator.
    .col-sm-6.text-center
      %img{src: 'images/underwater/octopus.jpg'}
