%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        Long-finned pilot whales swim in cool regions of the oceans. They grow to 12-16 feet in length and weigh several tons. The whales are characterized by an enlarged forehead and a swimming behavior similar to dolphins. The creatures are found to have highly-specialized apparatus for maintaining smooth, clean skin. Countless tiny surface pores produce a slime coating. The gel washes off with movement and is continually replenished. This “skin care” prevents bacteria and algae from gaining a foothold and forming growth colonies. The whale’s surface chemicals also contain enzymes that repel microorganisms. This feature in turn avoids barnacles, tubeworms and other marine life which are otherwise attracted to underwater surfaces.
      %p
        How can the production of “slime” by pilot whales possibly be useful as a technical application? Such design ideas, after all, are the focus of this website. Consider the hulls of ocean-going ships, a breeding ground for bacteria and barnacles. Vessels typically are brought into dry dock every few years for the cleaning of their undersides, a major investment of time and expense. There also are antifouling paints available. However, many are toxic to marine life and have been banned. As a safe alternative, studies are underway to provide ships with a sticky biosafe gel which oozes from a thin mesh on the surface. Tests show a decrease in fuel consumption by up to 20 percent with a drag-reducing gel coating just 0.03 inches thick.
      %p
        Long-finned pilot whales first appeared on Day Five of the Creation Week. We have endless practical lessons to learn from these and all other parts of creation, living and nonliving.
  .row.text-center
    .col-sm-4
      %img{src: 'images/underwater/whale_1.jpg'}
    .col-sm-4
      %img{src: 'images/underwater/whale_2.jpg'}
    .col-sm-4
      %img{src: 'images/underwater/whale_3.jpg'}
  .row.references
    .col-sm-12
      %p
        Marks, Paul. 2010. Slimy skin will cut fuel costs by keeping ships’ bottoms clean. <i>New Scientist</i> 203(2727): 24.
