%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The razor clam has a long narrow shell, somewhat resembling an old-fashioned straight razor.  The shells also have a sharp edge. The clam is hunted for food in exposed mudflats along the ocean shoreline. Its defense against people and predators is an impressive ability to burrow underground rapidly. They can dig downward at about one centimeter per second to a depth of 70 centimeters, or about 28 inches.
      %p
        The burrowing skill of the shellfish is studied by researchers at MIT. They find that the clam creates a tiny pocket of space in the mud below its shell. As water and sand fill this space, the fleshy foot pulls the shell downward, then again produces another pocket at a lower level. In effect, the pumping action fluidizes the sediment and produces quicksand. As a result the razor clam readily slides downward into hard-packed sand or thick sediment. The razor clam suggests an entirely new style of anchor. Using compressed air for propulsion, the MIT researchers have produced a mechanical RoboClam. The device functions far superior to traditional anchors and can readily be removed. Possible applications include anchoring vessels, seafloor monitoring equipment, and underwater cables.
      %p
        Scripture tells us that sea creatures, both large and small, were made on Day Five of the Creation Week, several thousands of years ago. Razor clams are an example of intelligently planned design in nature. Furthermore, these clams teach us the art of advance anchor building.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/razor_clam_1.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/razor_clam_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Winter, A. G., V. Winter, and A.E. Hosoi, 2011, Identification and evaluation of the Atlantic razor clam (Enis directus) for biologically inspired subsea burrowing systems, <i>Integrative and Comparative Biology</i> 51(1):151-157.
