%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Over two million bone-repair surgeries take place each year worldwide. Bone repairs often are treated with grafting or the addition of bioceramic materials. However, synthetic additions are brittle and sometimes cause of further problems.
      %p
        Research shows that the spines of sea urchins may provide a superior material for bone repair. Perhaps you have handled the sharp spines of a sea urchin. They are strong and almost impossible to break, and their internal cell structure is similar to that of human bone.
      %p
        A chemical process alters the urchin spines into a solid matrix which can be machined to the needed shape for bone support. The spine material then becomes a permanent, strong part of a person’s bone structure.
      %p
        Biomimicry is the application of ideas from nature for new products and solutions to problems. Many of these ideas come from the sea life, incluing urchin spines. Such ideas were placed in the original creation for our eventual discovery and use. this provides a new approach to science: searching out the secrets of creation for our wellbeing.
    .col-sm-6.text-center
      %img{src: 'images/underwater/sea_urchin_spine_bone_repair.jpg'}
  .row.references
    .col-sm-12
      %p
        Cao, Lei and others. Lightweight open-cell scaffolds from sea urchin spines with superior material properties for bone defect repair. Applied Materials & Interfaces, 2017, 9(11): 9862-9870.
