%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Sea cucumbers are found on the floor of all the world’s oceans. Their tubular shape resembles a cucumber taken from the garden. The animals frequent shallow coastal waters and are also found in the deepest ocean. Sea cucumbers, also called sea slugs, are colorful occupants of many salt water aquariums. The sea cucumber has the special ability to change its leathery skin from firm to flabby in just seconds. They tense up their body tissue by linking collagen fibers into a stiff net. When the fibers disconnect, the skin again becomes soft and pliable. Such behavior catches the interest of medical workers, especially brain specialists. Patients with Parkinson’s disease or paralysis can be treated by inserting tiny electrodes in the brain. Electrical signals then trigger brain cells to function normally.  For handling and insertion into the brain, the electrodes need to be rigid. Once in place, the electrodes work best if they are similar to the brain’s soft, flexible nature.
      %p
        Copying the skin flexibility of the sea cucumber, scientists at Case Western Reserve, Cleveland, Ohio, have bonded cellulose fibers together with a variety of nano-particle glue. The connected fiber “whiskers” become as stiff as plastic. When moistened, however, the whiskers separate and become soft. This behavior, first noticed in sea cucumbers, is exactly what brain surgeons are looking for. The new material is currently being tested in the brains of rats.       
      %p
        Beyond the medical implant lessons from sea cucumbers, these creatures also produce chemicals with healing ability. Sea cucumber extracts are utilized as creams, oils, and cosmetics.
    .col-sm-6.text-center
      %img{src: 'images/underwater/sea_cucumber.jpg'}
  .row.references
    .col-sm-12
      %p
        Callaway, Ewen. 2008. Cellulose that stiffens and softens <i>Science News</i> 173(11):173.