%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The sea urchin is well known for its many outward-pointing spines. However, five symmetric teeth at the center of its body are even more impressive than the spines. These teeth are able to chew through solid rock, making a cavity in which the sea urchin hides and withstands the surge of water currents. Scientists have long wondered how sea urchin teeth can withstand grinding and scraping against rock surfaces. After all, the teeth are made of calcite (CaCO3) which is just average in mineral hardness.
      %p
        Close study reveals some of the sea urchin’s secrets of success. The calcite of its teeth is in the form of a cemented mosaic of plates and fibers. This composite structure greatly increases tooth durability. Between the calcite plates is a weaker organic material which functions as the ‘weak link’. It is at these plate boundaries where the tooth eventually breaks, similar to perforations on a roll of paper towels. The tooth continues to grow at a rate which just compensates for the loss due to surface breakage. In addition, the fracture occurs in an angular way which keeps the edge of the tooth sharp for cutting into rock. Measurement on one type of sea urchin found tooth growth at 0.006 inches per day, or about 0.2 inches per month.The renewable urchin teeth suggest application in industry: Self-sharpening blades for tools. On the scale of everyday tools, an analogy could consist of a slow-moving metal rod with a variable composition. On the scale of nanotechnology, cutting tools may be possible which continually grow and sharpen themselves.
      %p
        Sea urchins are said to have evolved their rock-boring ability over 200 million years of evolutionary history. However, their fossils appear fully modern and functional, similar to living urchins. In truth, similar to all living creatures, sea urchins were part of supernatural biblical creation which occurred just thousands of years ago, not millions or billions of years.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/sea_urchin_1.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/sea_urchin_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Killian, et al. 2010. Self-sharpening teeth: Self-sharpening mechanism of the sea urchin tooth. <i>Advanced Function Materials</i> 21(4).
