%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A sea anemone looks like an underwater flower with its colorful tentacles. However, this stinging "flower" must be handled with care. The tentacles are armed with tiny harpoon-like structures which can be fired outward. After they strike a passing fish, poison is pumped through an attached hollow thread to paralyze the prey. Some anemones and similar jellyfish are likewise a danger to a person who comes in contact.
      %p
        A company in Israel, NanoCyte, has turned the sea anemone into a useful product. First, the harpoon cells are harvested from a particular aquarium-dwelling sea anemone called Aiptasia diaphana. This species is native to the Mediterranean and Red Seas. "It is a bit like milking a cow," say the researchers. The stinging cells, cleared of their own poison, are then mixed with anesthetic skin cream to produce a needle-free painkiller. When the cream is applied to the skin, the anemone stinging cells are triggered. Acting like pumps, they transfer the anesthetic drug under the skin. The anemone stingers are only a few micrometers thick and produce no pain. One square centimeter of skin cream may contain a million of the tiny needles. About one-third to will be randomly oriented to enter the skin. There is wide potential application in replacing hypodermic needles in dentistry, skin anti-aging procedures, and diabetic insulin.
    .col-sm-6.text-center
      %img{src: 'images/underwater/sea_anemone.jpg'}
  .row.references
    .col-sm-12
      %p
        Barras, Colin. 2009. Stings from the sea give a pain-free kick to skin cream <i>New Scientist</i> 204(2731):23.
