%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The sea mouse lives at the bottom of northern seas. Actually a worm, the creature’s name results from its furry appearance. The size of a thumb, the sea mouse is covered with many thousands of crystalline fibers called setae. These strands shimmer with iridescent colors as they reflect sunlight which filters downward hundreds of feet.
      %p
        The setae are about 100 nanometers in diameter. This is about four millionths of an inch, several times smaller than a human hair. In addition, the sea mouse fibers are hollow tubes. Researchers in Finland and Norway have successfully used these fibers in a valuable high tech application. A fiber is taken from the animal and a charged gold electrode is placed at one end. Charged metal atoms, either copper or nickel, are then passed through the hollow channel where they are attracted to the gold on the opposite end. In time, the entire tube is filled with the metal atoms, resulting in an ultra fine strand called a nanowire.
      %p
        The properties of these microscopic wires are in the experimental stage, and are proving invaluable for linking components in tiny electronic circuits. This application includes micro health sensors placed within the human body. Nanowires have been an ongoing challenge to fabricate and the sea mouse provides us with an efficient method. Of special advantage, the sea mouse fibers are found to be very durable, withstanding manipulation and electronic exposure without deterioration. The setae also result in nanowires up to an inch in length, one hundred times longer than alternative fabrication methods. Continued exploration of nature will uncover countless other practical ideas and applications, placed there at the beginning for our benefit by the Creator.
    .col-sm-6.text-center
      %img{src: 'images/underwater/sea_mouse.jpg'}
  .row.references
    .col-sm-12
      %p
        Mumm, F., M. Kemell, M. Leskela, and P. Sikorski. 2010. A bio-originated porous template for the fabrication of very long, inorganic nanotubes and nanowires. <i>Bioinspiration and Biomimetics</i> 5(2).
