%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Dolphins use sonar or sound wave echoes to locate their underwater prey. Seals and sea lions, called pinnipeds, do not have this ability, yet they navigate similarly in murky water. Recent oceanographic studies have discovered the key to their success: Whiskers!
      %p
        Objects moving through water leave a wake behind which can linger for hours, and in the case of submarines, for days. The miniature whirlpools caused by fish are picked up readily by the sensitive whiskers of pinnipeds. To test this idea, several seals were blindfolded and also equipped with earplugs. In spite of these sense limitations, the swimmers easily chased down fish in the vicinity. When their whiskers were covered, however, the fish meal eluded the seals. The shape and sensitivity of the whiskers tells the seals the size, speed, distance and direction of their prey.
      %p
        The military has serious interest in monitoring surface ships and submarines. One goal is to equip a fleet of underwater robotic craft with mechanical whiskers similar to seals. These detectors would help patrol the seas worldwide. Above water, the sensitive whisker probes could also be extended to measuring fluid flow in pipes or air flow over aircraft wings.
      %p
        As happens again and again, designs existing in nature help us solve problems and extend technology. It appears that creation has been pre-loaded with endless ideas for our wellbeing, and even the whiskers of “navy seals” lions instruct us. Thanks are due to the Creator for his endless blessings.
    .col-sm-6.text-center
      %img{src: 'images/underwater/seals.jpg'}
  .row.references
    .col-sm-12
      %p
        No author, August 11, 2018, Pinniped whiskers provide a model for a new generation of submarine detectors, Economist, August 11, 2018, pp. 65-66. 
