%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        In the sea, a whale’s skin is home to barnacles, algae, and bacteria. In contrast, shark skin is squeaky clean. Parasites appear unable to attach to the shark skin. It is thought that the many small ridges and bumps on the shark’s skin surface discourage attachment. Bacteria prefer to colonize a smooth surface; a textured surface many require too much energy. The shark skin does not kill bacteria but simply discourages their presence. As a result, there is little chance of bacteria overcoming their resistance to shark skin.
      %p
        The Florida-based research firm Sharklet Technologies has developed an adhesive film which mimics shark skin. The plastic sheeting is covered with a pattern of bumps, each three micrometers wide. Tests show that the surface prevents the growth of dangerous bacteria including E. coli and Staphylococcus. The plan is to cover smooth surfaces with the new film in areas subject to bacterial growth. In hospitals this includes nursing call buttons, bed rails, and tray tables. More generally, the anti-bacteria Sharklet film could benefit restaurant door handles, especially in public restrooms. The structure of shark skin offers us an extra line of defense against unfriendly bacteria.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/shark_1.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/shark_2.jpg'}
