%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The peacock mantis shrimp lives in southern seas, growing from one to seven inches long.  It is a colorful animal, yet fearsome to its prey. The shrimp’s club-like appendages readily crack and break open shells for food. The striking movement has been clocked at an impressive 50 miles/hour. The shrimp easily can break glass, and therefore is sometimes kept in an acrylic aquarium. 
      %p
        Along with its breaking ability, the shrimp’s eyesight is also very special. Its eyes are found to be sensitive to polarized light. Such light displays a complex alignment of vibrating waves. Many animals are found to utilize polarized light, unlike our own eyes. Electronic DVD and CD players also make use of polarized light, and this is where the mantis shrimp may provide help. Digital electronics typically is limited to certain portions of the light spectrum, often infrared wavelengths. Meanwhile, the mantis shrimp is sensitive to polarized light from all the colors of visible spectrum. Further understanding of the shrimp’s advanced optics may greatly improve our ability to store and process digital data. Scientists at Bristol University, England are probing the unusual eyesight of the peacock mantis shrimp.
      %p
        There is no part of nature, living or nonliving, which is simple or primitive. Every organism and object we explore displays the fingerprint of the Creator. In the case of shrimp, they do not evolve or improve over time. Instead, they suddenly appeared in all their variety and complexity on Day Five of the Creation Week when sea life first appeared supernaturally.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/shrimp_1.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/shrimp_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Robertson, James, October 26, 2009, Shrimp eyes could help create a new digital storage format, <a href="http://blogs.nationalgeographic.com/blogs/news/chiefeditor/2009/10/shrimp-eye-science.html" target="_blank">http://blogs.nationalgeographic.com/blogs/news/chiefeditor/2009/10/shrimp-eye-science.html</a>
