%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The snail is probably one of the most picked-on creatures in the world. How could this small, slow animal possibly benefit anyone, other than on the French menu as escargot? Even gardeners dislike snails! However, researchers are now copying the design of the snail when making small robots. The advantage is that snails are very small and have only one foot, making them mobile and potentially simple to copy. Snails are able to travel straight up walls and even across ceilings, a sought-after goal for small robots.
      %p
        The RoboSnail was designed as a rubber "foot" that slides on a thin layer of silicon oil. Real snails actually travel by three different modes of movement, and researchers have copied two of them. Both involve using pressure produced by a layer of mucus (or oil) beneath a flexible boundary. A special version of the RoboSnail has been designed to clean aquariums, crawling along the sides of a glass or acrylic aquarium just like a snail.
      %p
        Every part of God's creation has a purpose and function given by the Creator. One of those purposes for the natural world is to provide human beings with engineering models that we can study and learn from in order to improve our own designs. Even the lowly snail fulfills this purpose of the Creator.
    .col-sm-6.text-center
      %img{src: 'images/underwater/snail.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="http://web.mit.edu/newsoffice/2003/robosnail.html" target="_blank">http://web.mit.edu/newsoffice/2003/robosnail.html</a><br>
        <a href="http://www.agiaquatics.com/" target="_blank">http://www.agiaquatics.com/</a>
