%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Law enforcement faces the challenge of stopping fleeing vehicles. Non-violent methods include roadblocks and spike strips laid across the pavement. However, neither is entirely successful because drivers sometimes avoid the barriers. 
      %p
        The U.S. Department of Home Security is studying new technologies for stopping vehicles. One promising device is inspired by the squid. This sea creature, with over 300 species, has 8 arms and 2 longer tentacles. The arms with their suction cups are useful in entangling prey and repelling enemies.
      %p
        The manmade device from Home Security, named with typical government verbiage, is called the “Safe Quick Undercarriage Immobilization Device,” or SQUID for short. It is the size of a manhole cover, several inches thick, and filled with coils of strong elastic band. The SQUID is placed in the path of a moving car or truck. It can be camouflaged and unnoticeable to drivers. As the vehicle passes over, the elastic bands spring upward and tangle with the axles and drive shaft. As a result, the vehicle comes to a quick stop, similar to locking the brakes. Preliminary tests successfully stop a small truck moving at 35 miles per hour. A YouTube video is of the event is at <a href="http://il.youtube.com/watch?v=vqDMKiUewBY" target="_blank">http://il.youtube.com/watch?v=vqDMKiUewBY</a>. More research is needed to address higher speeds encountered in emergencies. 
      %p
        The squid, a marvel of creation, suggests a useful tool for law officials.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/squid_1.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/squid_2.jpg'}
