%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Injuries to the spine are some of the most serious challenges in medicine. We are all familiar with the tragedy of paralysis which may result from spinal trauma.  In mammals, including people, a protective mechanism results in an unfavorable side effect to spinal trauma.  Following an injury, cells called glia are activated which flood the area of inflammation.  These cells result in a buildup of scar tissue which becomes a chemical and physical barrier to the growth and repair of nerves at the injury site.
      %p
        Surprisingly, it is noticed that the zebrafish avoids the problem of scar tissue interference with healing. Instead, this fish successfully regenerates spinal cord tissue following an injury. The glia repair cells of the zebrafish have a distinct elongated shape, unlike the branching, intertwining nature of our own cells. The fish glia cells appear to bridge the spinal injury and encourage new nerve cell growth.
      %p
        It is hoped that the zebrafish repair mechanism can in some way be applied to patients. As one researcher stated, “When we learn from the zebrafish…this gives us hope for finding therapeutic approaches for spinal cord injuries in humans.” There is a large zebrafish research center at Monash University in Australia. This facility maintains 6,000 aquariums for zebrafish research on spinal and organ regeneration.    
    .col-sm-6.text-center
      %img{src: 'images/underwater/zebrafish.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="http://www.monash.edu.au/research/infrastructure/platforms/fishcore.html" target="_blank">http://www.monash.edu.au/research/infrastructure/platforms/fishcore.html</a>
