%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The zebrafish lives in tropical waters and is a popular aquarium resident. This fish has clusters of hair cells spaced along its body. The hair follicles sense pressure changes and vibrations in water. This information helps the zebrafish navigate and avoid predators. The hairs are rooted in skin cells which have nerve connections with the brain. Studies show that when a hair cell is damaged, the zebrafish regenerates a replacement.
      %p
        Human hearing also involves hair cells. The snail-shaped cochlea in our inner ear is lined with thousands of these cells. Movement of the hairs in the cochlea fluid detects sound vibrations, and sends signals to our brain. If loud sounds or disease damage these hair cells, they do not repair and hearing loss is permanent. Zebrafish may provide the key to human hair cell repair. Nearby support cells in the fish are observed to become hair cells, or else they work to regenerate new hair cells. Information on the fish genes which carry out this repair eventually may be transferred to treatment for human hearing.
      %p
        Hair cell similarities between zebrafish and people are not evolution evidence. Instead, we see the design work of the common Creator in the separate worlds of animals and humanity. As Psalm 94:9 asks, “Does He who implanted the ear not hear?” Yes He does!
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/underwater/zebrafish.jpg'}
        .col-sm-12
          %img{src: 'images/underwater/ear.jpg'}
