%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        Diatoms are microscopic, single-celled algae. They are typically a few microns in diameter, ten times smaller than the width of a human hair. There are many thousands of distinct diatom species known, in both plant and animal varieties. They exist in countless numbers in the sea and are the base of many food webs. Diatoms often house themselves inside intricate glass structures formed from silica, SiO2. These fascinating shapes include stars, snowflakes, pyramids, chandeliers, cylinders, and crowns. Scientists look to the diatoms for ready-made components in nanotechnology. One particular type of diatom resembles a circular glass gear, complete with an array of regular teeth around its outside edge. In the laboratory, this fragile structure is converted to a more durable form by heating at 900˚C (1652˚F) for several hours in the presence of magnesium gas vapor. The delicate silica glass vaporizes away and is exactly replaced by the tough ceramic compound magnesium oxide, with the chemical formula MgO. In an alternate process, diatom shapes can be converted to durable titanium oxide, TiO. Beyond the fabrication of mechanical gears, other diatom shapes are useful as tiny lenses. Still others with multiple pore openings can function as micro filters. Researchers also hope to coax diatoms to grow into new useful shapes called “designer diatoms.” The common diatom, which lives everywhere in the oceans, freshwater lakes, and even in the soil, displays master craftsmanship and unlimited applications.
  .row.text-center
    .col-sm-4
      %img{src: 'images/microorganisms/diatom_1.jpg'}
    .col-sm-4
      %img{src: 'images/microorganisms/diatom_2.jpg'}
    .col-sm-4
      %img{src: 'images/microorganisms/diatom_3.jpg'}
  .row.references
    .col-sm-12
      %p
        Cohen, Philip. 2004. Natural glass. New Scientist 181(2430):26-29.<br>
        Goho, Alexandra. 2004. Diatom menagerie. Science News 116(3):42-44.
