- examples_copy = {}.merge(examples)
%h2.visible-xs-block.text-center= title
%h1.hidden-xs= title
.well
  - num_rows = (examples_copy.count.to_f / 4.0).ceil
  - num_rows.times do |n|
    .row.text-center
      - 4.times do
        - unless examples_copy.empty? 
          - name = examples_copy.keys.first
          - attrs = examples_copy.delete(name)
          .col-lg-3.col-md-4.col-sm-4.col-xs-12
            .example
              %a{href: attrs['url']}
                %img{src: attrs['image']}
              %br
                %a{href: attrs['url']}= name
