%h2.visible-xs-block.text-center= title
%h1.hidden-xs= title
.well
  .row
    .text-center
      - examples.each do |name, attrs|
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          .example
            %a{href: attrs['url']}
              %img{src: attrs['image']}
            %br
            %a{href: attrs['url']}= name
