%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Electronic circuits typically constructed on very thin silicon surfaces. Now, suppose that we want to transfer such a circuit unto a non-flat surface such as cloth or leather. Circuits are fragile and any surface contact during movement can be destructive. Researchers at Northwestern University and the University of Illinois turned to the gecko lizard for the solution. Geckos are masters at sticking and then freeing their feet as they walk across a ceiling. The gecko foot has countless micro-size filaments which adhere to most surfaces by flexible, reversible molecular adhesion.
      %p
        The researchers copied gecko foot details, making a small stamp with tiny flexible, pyramid-shaped tips on its four corners. When the stamp is pressed down on a prepared electronic circuit, the tips collapse and the circuit adheres to the stamp. When lifted, the tips return to their original shape and the circuit is now held by just its four corners. The stamp and circuit are then transferred to the desired surface. The stamp is pressed down to make firm contact with the surface and then withdrawn, leaving the circuit in place. Delicate variations in applied pressure allow the stamp's adhesion to vary by 1,000 times, depending on the nature of the final surface.
      %p
        The gecko with its advanced adhesion ability is contributing to electronics technology. All parts of nature show purpose and planning. The Creator has embedded countless ideas for our discovery and application.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/gecko_1.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/gecko_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Kim, Seok, Jian Wu and twelve others. 2010, Microstructured elastomeric surfaces with reversible adhesion and examples of their use in deterministic assembly by transfer printing. <i>Proceedings of the National Academy of Sciences</i> 107(40): 17095-17100.
