%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        There are countless examples of architectural design based on patterns found in nature, ranging from spirals and cantilevers to geodesic domes. One can make the case that all architecture is based on observations from nature. 
      %p
        One outstanding natural design example was displayed at the 2008 Beijing Summer Olympics. The National Aquatics Center came to be called the Water Cube. The walls of this swim center consisted of 4,000 large clear bubbles made of strong plastic, with layers just 1/125 inches (0.2 millimeters) thick and variously ranging up to 30 feet (9.14 meters) in diameter. Connections between the bubbles mimicked the circular flat intersections which result when small soap bubbles join. 
      %p
        The swim center bubbles resemble large clear pillows. They trap solar heat which is then circulated to heat the pools. The plastic layers provides natural lighting, earthquake resistance, and the surfaces easily shed the pollutants in Beijing air. Since the Olympics, a portion of the Water Cube building has become a popular water park.
      %p
        Bubbles, large and small, are the subject of much technical research. It is found, for example, that when two soap bubbles attach, the outside edge of their intersection is always 120 degrees. Also, the common double soap bubble combination is found to be the most efficient structure for containing two distinct volumes of gas with the least amount of outside surface area. Such studies are not trivial and involve the calculus of variations.
      %p
        Bubbles are a special example of design. They involve the nonliving world and so they do not fit the term biomimicry. Instead, bubbles are examples of creative design which do not mutate or change over time. Instead, bubble details show the Creator’s fingerprint, present since the beginning of time. 
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/nonliving_objects/bubbles_1.jpg'}
        .col-sm-12
          %img{src: 'images/nonliving_objects/bubbles_2.jpg'}
