%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Beautiful small-scale designs in nature include snowflakes, pollen grains, and diatoms. Another addition to this list is the discovery of buckyballs, an unusual structure of pure carbon. Sixty carbon atoms bond together in pentagon and hexagon shapes to form a hollow sphere resembling a soccer ball, only ten million times smaller. The carbon sphere is called buckyminsterfullerene, or buckyball for short. This name honors engineer R. Buckminster Fuller (1895-1983) who popularized the architectural geodesic dome.
      %p
        Scientists at Rice University first prepared buckyballs in 1985 and were awarded the Nobel Prize in Chemistry some years later.1 The tiny carbon spheres occur throughout nature, including the soot of a candle flame. Their chemical signature is also found in space. Besides buckyballs, other pure forms of carbon include graphite and diamond.
      %p
        How do the tiny carbon spheres illustrate created design? It is often said that design in nature is an illusion, a natural consequence of evolution. That is, living things become fine-tuned and optimized over countless generations, the result of mutations and natural selection. Creatures that are less fit or poorly designed are "weeded out" over time. This makes a good story; however, the explanation is entirely insufficient to explain design in today's living creatures. Mutations are unable to add new information, and countless poor designs are not found in the fossil record.
      %p
        Buckyballs provide a separate challenge to the natural appearance of design over time. These carbon structures are not alive so they do not mutate or naturally select. The chemical rules responsible for buckyballs have been present since the Creation Week. Yet their design and potential applications are unlimited. The shape reminds one of a miniature ball bearing, and the material already is a useful rolling lubricant applied between sliding surfaces. Nanotechnology is the field of ultra small devices including motors, pumps, and valves. As this new engineering field develops, buckyballs may serve as bearings for moving parts.
      %p
        In medicine, buckyballs are able to function as miniature containers. Useful drugs can be inserted within the hollow spheres for later release within the body. Buckyballs also are small enough to enter skin pores directly and deliver subsurface medicine where needed.
      %p
        Carbon buckyballs withstand high temperature and pressure, showing potential for new high-strength materials. In one approach, buckyballs are partially opened up and connected to become buckytubes or nanotubes, one of the strongest materials known.  
      %p
        Other applications for buckyballs include rocket fuel and electronics components. These tiny soccer balls have been all around us since creation, and we are just today realizing their value. The discovery of useful, planned designs continues all across creation.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/nonliving_objects/buckyball.jpg'}
        .col-sm-12
          %img{src: 'images/nonliving_objects/carbon_nanotube.gif'}
  .row.references
    .col-sm-12
      %p
        Farnsworth, Martha, and others, 2005, Buckyballs: Their history and discovery  <a href="http://cnx.org/content/m14355/latest/" target="_blank">http://cnx.org/content/m14355/latest/</a><br>
        Moore, Elizabeth Armstrong, 2010, Behold the strength of carbon nanotubes, <i>Health Tech</i>,
