%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A new form of carbon called graphene was discovered by British scientists in 2004. It consists of  a single layer of atoms bonded in a hexagon pattern, similar to chicken wire. The graphite component in pencil lead is a stack of many tiny layers of graphene. The two-dimensional carbon structure has unusual properties. For example, it is one of the strongest materials known. If a large sheet could be fabricated, it would take an elephant, balanced on a pencil, to break through the surface. Thus far, however, such sheets are not available. Graphene fragments have only been made on the microscopic level.
      %p
        Graphene makes an excellent sensor for chemicals because it is entirely surface area, both top and bottom, with no interior volume. A single molecule adsorbed onto graphene changes its conduction of electricity in a measureable way. The conductivity of graphene can also be controlled with external electric fields. That is, the material can be turned on as a conductor, or turned off as an insulator. This behavior is the key to the semiconductors used throughout solid state electronics, and graphene eventually may replace silicon in modern technology.
    .col-sm-6.text-center
      %img{src: 'images/nonliving_objects/graphene.jpg'}
