%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        As urban areas grow there is an increasing challenge to provide open space for wildlife. Some varieties such as cougars need more space to roam than a single national park can provide. For this reason “wildlife corridors” are being established to connect separated wilderness spaces or “islands”. The assumption is that animals will freely travel between the wilderness zones; however, this does not always happen. Suppose that a corridor, even if acres wide, jogs around other properties. It is found that some animals do not like sharp corners. Rather than follow such a zig zag path, the animals reverse their direction and defeat the purpose of the corridor. A single corridor can also become a ‘bottleneck’ when blocked by fire, limited vegetation, or nearby development.
      %p
        Researchers now find that greater success occurs when corridors are designed to mimic the flow of electrons in complex circuits. In some circuits the electricity has just one path or wire for electron movement. However, when there are multiple paths the total resistance to electron flow decreases. In electronics parlance, several resistors placed in parallel greatly reduce the total resistance of the circuit. The electrons then have several parallel branches for movement across the circuit. Connecting this idea with wildlife, multiple corridors for wildlife travel are found to be beneficial to animal movement. In fact the multiple route-arrangement leads to increased dispersion of both wildlife and plants. It is not the shortest corridor path which is most successful for animal movement. Instead it is the number of travel choices which brings positive results.
      %p
        How can the flow of electrons possibly be scaled upward to benefit the health of wildlife?  This finding shows how all parts of creation are interconnected. This should be no surprise since all things have a common creator. Genesis 1:28 commands mankind to rule over the earth which surely includes the wellbeing of creatures in the wild. The behavior of sub-microscopic particles in electronic circuits provides us with valuable clues on how to carry out the mandate of caring for creation. 
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/nonliving_objects/mountain_lion.jpg'}
        .col-sm-12
          %img{src: 'images/nonliving_objects/electronic_circuit.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="http://conservationmagazine.org/2008/07/circuitous-routes/" target="_blank">http://conservationmagazine.org/2008/07/circuitous-routes/</a><br>
        Interactive model connects circuit theory to wildlife creatures. <i>Science News</i>. December 30, 2007.
