%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        When a flexible object is stretched, whether a rubber band or a piece of fabric, it typically becomes thinner or narrower toward its center. Certain materials, however, grow in width as well as length when stretched. The result might resemble a lattice with open spaces, but the result is still highly unusual.
      %p
        Particular geometric patterns are found to show a similar two-dimensional enlargement when stretched. These are called tessellations, repeated patterns which fill a surface without overlapping. Such patterns are common in Arabic or Islamic art, and they date back to Roman times and earlier post-flood civilizations. The website included here shows paper examples of the expandable patterns. Similar repeated patterns also appear in nature, as for example beehive hexagons made of wax, crystal forms, seeds on berries, spines on cacti, etc. 
      %p
        Materials based on these artistic geometries have several possible applications. For example, stents are placed in veins and arteries to aid the flow of blood. These small metal mesh cylinders are expanded somewhat in size after insertion. Tessellation designs within the metal mesh may have advantages over current stents when the items are expanded. On a larger scale, expansion of tessellation surfaces may be an efficient way to increase the area of solar panels after being place in orbit.
      %p
        These applications show the practical interface between art and technology. In both the living and nonliving world, we are surrounded by ideas for new products and solutions to technical problems. In other words, the evidence for intelligent design by the Creator is all around us.
    .col-sm-6.text-center
      %img{src: 'images/nonliving_objects/geometric_pattern.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="http://www.bbc.com/news/science-environment-35818924" target="_blank">http://www.bbc.com/news/science-environment-35818924</a>
