%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Ice is a practical way to cool a picnic basket. As the ice gradually melts, heat is absorbed and the food temperature stays low as a result. This cooling process is called a phase change or a change of state. The water molecules soak up nearby heat as their ordered structure in the crystalline ice becomes disordered in their change to randomness in the liquid form. To be exact, the melting of one kilogram of ice (2.2 pounds) absorbs 80 diet calories of heat energy.
      %p
        Engineers seek to extend the usefulness of water cooling to other materials. For example, certain plastics contain chains of molecules which line up and become ordered in the presence of an electric field. If the electric field is turned off, the molecules again revert to disorder. Their temperature also drops as the molecules randomize, similar to the case for melting ice. Some of the plastic polymer materials cool by 10°C (18°F) or more in the process, showing promise for use in solid state cooling. Applications include computers and other electronics. All such equipment produces heat which must be removed. Someday soon, cooling a picnic cooler may be as simple as hitting a switch connected to a thin coating of plastic material on the cooler.
    .col-sm-6.text-center
      %img{src: 'images/nonliving_objects/iceberg.jpg'}
  .row.references
    .col-sm-12
      %p
        Ashley, Steven. 2008. Plastic Coolers <i>Scientific American</i> 30-31
