%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        The Cuyahoga River flows through Akron and Cleveland Ohio, and empties into Lake Erie. Heavily polluted in past decades, the Cuyahoga is known as “the river that caught fire.” Oil and floating debris led to several fires, including a major blaze in 1969. Since then, environmental steps have greatly improved the water quality. Some fish have returned and the Cuyahoga is now classified and protected as an American Heritage River.
      %p
        Near Lake Erie, the Cuyahoga is an important shipping channel with steel bulkheads and pilings lining the shore. Such structures prevent a healthy habitat for fish and water plants, components that are important to the health of a river. Local communities are addressing this problem by studying natural river banks. There, vegetation controls erosion while underwater plants and root systems provide nutrients and safety for fish populations. One step is to attach a biodegradable fabric to the steel surfaces. This covering encourages the growth of water plants and small organisms, many of which help purify water. Another step is to suspend underwater baskets of plants along the edges of the river. A third proposal is to drill openings in the metal seawalls through which fish could swim back and forth to wetlands adjacent to the river.
      %p
        Thus far there has been mixed success in the efforts to make the Cuyahoga River more “fish-friendly.” The beneficial and scenic river ecosystems found in natural rivers have many practical lessons for us in caring for the Creation. Such complex river systems did not arise by chance, but are part of the Creator’s plan for a healthy earth.
  .row.text-center
    .col-sm-4
      %img{src: 'images/nonliving_objects/river_1.jpg'}
    .col-sm-4
      %img{src: 'images/nonliving_objects/river_2.jpg'}
    .col-sm-4
      %img{src: 'images/nonliving_objects/river_3.jpg'}
