%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Spiral shapes are found all around us in nature. Examples include bacteria, human skin pores, seashells, calla lilies, water swirling down a drain, kelp swaying in ocean currents, climbing vines, whirlpools, tornadoes, and even galaxies.
      %p
        Researchers have taken notice of the spiral shape as a solution to practical problems. One example is the design of water storage tanks. Such tanks are used for city water supplies and as a reserve for fire safety. The problem is that stored water can become a stagnant breeding ground for unhealthy organisms. As a prevention, such tanks are often supplied with chemicals and pumps to keep the water in motion.
      %p
        An efficient alternative solution for water circulation is to install a small spiral shaped device instead of the typical pumps or rotating blade systems. It is found experimentally that one small, spiral-shaped rotor circulates hundreds of millions of gallons of water with minimum expense. The water remains in smooth motion without turbulence or frictional energy losses. This positive result is true whether the material is liquid of gas.
      %p
        One successful spiral application in water systems is called the Lily impeller, manufactured by a company called PAX Scientific. The company adveretises that they have “frozen” the spiral shape into a metal spiral. It resembles an auger, but with decreasing size of each spiral. The spiral-shaped rotors may find widespread application for wind turbines, ship and aircraft propellers, airflow duct systems and even the portable kitchen fan. Efficient spiral fans could also be applied outdoors to break up fog banks and thermal inversion layers in the atmosphere.
      %p
        The common spiral shape in nature has a complex mathematical description using the logarithmic function, and is an example of intelligent design in nature. The smooth curving shape of a spiral shell is attractive to look at, and the spiral also helps us design energy-efficient devices.
    .col-sm-6.text-center
      %img{src: 'images/nonliving_objects/shell.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="http://www.mnn.com/leaderboard/stories/the-lily-impeller-nature-based-design-inspires-game-changing-efficiencies" target="_blank">http://www.mnn.com/leaderboard/stories/the-lily-impeller-nature-based-design-inspires-game-changing-efficiencies</a>
