%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Lives are saved by rapid evacuation of buildings during emergencies. This is important to architects when designing the location of exits, supporting columns, and interior walls. Real life data is limited to artificial escape drills. It would be very helpful to see how people react to various building layouts in a serious panic situation. However, it would be dangerous and unethical to fake such events.
      %p
        Perhaps ants can come to the rescue. Scientists in Melbourne, Australia set up a miniature building model with moveable walls and exits, and then populated it with ants. Next, citronella ant repellant was applied at various locations and the ant behavior was observed. It was noticed that exits in corners resulted in more rapid ant escape than similar exits located along walls. The wall exits tended to cause confusion and crowding of the ants. The corner exits were more efficient even when partially blocked by a column. A similar column in front of a wall-side exit caused a major slowdown of ant movement.
      %p
        It is concluded, by analogy, that corner exits are also a natural emergency destination for people. The scientists conclude that ant behavior helps us save lives in the design of office buildings, sports arenas, and public transit facilities. We have much to learn from the details of creation, whether studying lowly ants or majestic stars. Job 12:8 challenges us to “speak to the earth, and it will teach you.” Job 6:6 further states that there is profit in studying the ants.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/ants_3.jpg'}
  .row.references
    .col-sm-12
      %p
        Webb, Jeremy, Editor. 2013. For the fastest exit, follow the ants. <i>New Scientist</i> 218(2919):16.  
