%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The antennae of ants monitor their surroundings by the combination of hearing, smell, taste, and touch. However, these delicate instruments can fail to operate if they become coated with stray micron-size particles. Pollutant examples include ash, bacteria, dust, pollen, salt, spores, and viruses.
      %p
        For their protection, the ants use sophisticated cleaning tools. Electron microscope studies reveal microscopic bristles, combs and brushes which are stoked along the antennae for grooming. Like a series of sieves, larger pollutant particles are removed first, then followed by eliminating smaller objects.  The brushes themselves are refurbished and kept clean by mouthparts of the ant.
      %p
        The ant cleaning technique may be applicable to microelectronic chips. Similar to ants, these silicon wafers may be damaged by stray contaminants in the air. Along with the typical “clean-room” environment, ant-brushing techniques could provide an important layer of protection.
      %p
        Other insects besides ants use similar antennae-cleaning techniques. Further understanding of these processes may identify certain particle sizes which the insects cannot easily clean, thus interfering with their senses. The release of such particles could lead to alternative environmentally-friendly ways of insect pest control.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/ants_4.jpg'}
  .row.references
    .col-sm-12
      %p
        Ant cleaning tools, <i>New Scientist</i>, July 25, 2015, p. 5<br>
        Hackmann, Alexander, et al., Efficiency of the antenna cleaner in Camponotus rufifemur ants, <i>Royal Society Open Science</i> 2:150129, 2015
