%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Vision in the insect world typically includes multiple lenses in each eye for light focusing. Each ant eye, for example, has more than one hundred micro-lenses; dragonflies and praying mantises have thousands of such lenses. In sharp contrast, our own eyes and also the cameras we build typically have one large lens in front for light collection.
      %p
        The multiple insect lenses, called ommatidia, give several advantages. The arrangement is ultra sensitive to motion, which is why a fly often escapes a swatter by making instant maneuvers. Insect eyes also have a wide range of vision, often 180 degrees or more.
      %p
        Compound camera lenses now are being modeled after insect eyes, especially those of fire ants. Hundreds of tiny, clear plastic lenses are mounted on a curved surface, altogether smaller than a coin. Together, these lenses resemble a surface of small bubble wrap bumps. Each lens has its own focus point and electronic light receptor. Unlike a single large lens, the small camera lens components give a clear focus at all distances, both near and far.
      %p
        The new “bug-eye” camera lenses are finding application for surveillance. The micro lenses are also becoming a part of medical procedures such as endoscopy where physicians use fiber optic cables to explore the body interior.
      %p
        Scientists continue to look at nature for useful ideas. And how did such advanced structures arise such as the compound eyes of the fire ant? It is all by the Creator’s hand.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/small_creatures/ants_1.jpg'}
        .col-sm-12
          %img{src: 'images/small_creatures/ants_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Borst, A. and J. Plett. 2013. Seeing the world through an insect’s eyes. <i>Nature</i> 497(7447):47-48.
