%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Many species of leaf-roller caterpillars use an unexpected strategy when escaping from predators. In just one-tenth second or less, they curl into a hoop or wheel and then rapidly roll, bounce, or tumble to safety. Their rotation is clocked at more than 200 revolutions per minute (rpm) with a speed of 20 centimeters per second. Scaling up to our size, the caterpillar motion is equivalent to a person running at nearly 100 miles per hour.
      %p
        The unusual caterpillar motion is called ballistic rolling. How it produces sufficient power for ‘take off' in near-instantaneous time is yet to be discovered. However accomplished, this is one of the fastest self-propelled wheeling behaviors known in nature.
      %p
        Researchers at Tufts University, Massachusetts, have duplicated the caterpillar motion with a flexible silicone rubber robot which they call the GoQBot. Electronic control allows the tube  to rapidly bend and then roll forward.
      %p
        One research application is the improvement of current robotic devices. We already have snake-like robots which can maneuver across uneven terrain where the usual leg configuration has difficulty. However, the remaining problem is slowness of their movement. None of the current limbless robots match the speed and efficiency of the caterpillar's rolling locomotion. Some of the laboratory experiments resemble the comical whirring of the legs of a roadrunner. Caterpillars are instructing us on building the next generation of small robots.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/caterpillar.jpg'}
  .row.references
    .col-sm-12
      %p
        Lin, H.T., G. G. Leisk and B. Trimmer. 2011. GoQBot: a caterpillar-inspired soft-bodied rolling robot <i>Bioinspiration & Biomimetics</i> 6: 1-14.
