%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Dragonflies are masters of flight.  They can fly forward, backward, upside down, and hover motionless in the air. The structure of their four delicate wings has long been a mystery. Since the Wright brothers, aircraft wings have been designed with smooth surfaces. However, the wing surfaces of the dragonfly are rippled or corrugated rather than being smooth. Aerospace engineers at George Washington University are investigating the flight capability of the pleated insect wings. The surprising results show that dragonfly wings have a lifting capacity equal to or greater than smooth wings. The engineers find that air circulates in the cavities between the wing folds, resulting in low pressure and increased lifting capacity. This enables the dragonfly to glide for up to 30 seconds without a single beat of its wings. 
      %p
        Dragonfly research suggests application to small palm-size reconnaissance aircraft for the military or highway monitoring. With dragonfly-type wings, such craft would gain strength and flight ability. Dragonflies, marvels of creation, lead the way in aircraft design. This is one of countless practical designs planned by the Creator for our discovery and benefit.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/dragonfly.jpg'}
