%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        The dung beetle displays unique activity, gaining its nutrition from animal droppings. After finding such a source, the beetle shapes a small amount into a ball, the size of a pea. This ball then is rolled to a private location for consumption or burial for a later meal.
      %p
        Many species of dung beetles are nocturnal, navigating by night flight. Researchers are studying the advanced optics of these insects. Like bees, moths, and other beetles, the dung variety has compound eyes with multiple lenses. Furthermore there is evidence that the dung beetle has full-color night-vision. In near-total darkness it is able to avoid obstacles in flight, escape predators, and find a mate.
      %p
        It is thought that one part of the insect’s retina is able to collect incoming light for a prolonged period of time, similar to camera film and unlike our own fleeting vision. At the same time, other parts of the beetle eye concentrate on detecting slight motions in the darkness. Researchers call these beetle abilities “local adaptive spatiotemporal smoothing.” 
      %p
        Auto makers hope to duplicate the vision ability of the dung beetle by building safety cameras for drivers. Night vision cameras currently are based on infrared light. However, the resulting image is indistinct and limited to black and white. The new goal is to provide drivers with a screen showing a clear, full color image of the surroundings, no matter how dark or stormy the night.
      %p
        We may smile at the unpleasant daily activity of the lowly dung beetle. However, it’s advanced optics show us God’s detailed care for even the smallest creatures. As a side benefit we find practical, new technology which was planned long ago for our eventual discovery and benefit.
  .row.text-center
    .col-sm-4
      %img{src: 'images/small_creatures/dung_beetle_1.jpg'}
    .col-sm-4
      %img{src: 'images/small_creatures/dung_beetle_2.jpg'}
    .col-sm-4
      %img{src: 'images/small_creatures/dung_beetle_3.jpg'}
  .row.references
    .col-sm-12
      %p
        Phillips, Helen. 2010. Night sight <i>New Scientist</i> 205(2742):44-47.
