%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        There are many hazards to space travel. For example, x-rays and gamma rays are given off by the sun and other stars. Here on earth we are protected from these dangerous, penetrating forms of radiation. The earth’s atmosphere absorbs the high-speed particles and the earth’s magnetic field also provides a shield. In space, however, these designed safeguards are not present.
      %p
        A trip to the planet Mars will require about six months of exposure to space radiation. Manmade radition shields tyically include thick layers of water and lead metal. However, the weight of these materials precludes their use in space. After all, every pound of material launched into earth orbit costs $10,000 or more. A possible solution has been observed at, of all places, the site of the 1986 Chernobyl, Russia nuclear power plant disaster. This event spread nuclear debris over a wide area and the cleanup continues decades later.
      %p
        In recent years, a dark fungus named cyyptococcus neoformans has thrived at the accident site. This fungus has the ability to absorb the ongoing radiation and turn it into food energy for its growth. The fungus utilizes melanin, the same pigment which gives color to our skin and eyes. The fungus melanin is formed into tiny, nano-size spheres with a layered structure. Incoming radiation travels between the layers and is eventually absorbed to the benefit of the fungus.
      %p
        When the radiation capture mechanism is better understood, it may be possible to apply a similar process to materials layered on the outside surface of manned inter-planet spacecraft. The cryptococcus fungus itself is a health hazard, but its ability to “eat” radiation may lead the way to safe space travel. The creation is filled with useful ideas and solutions to technical problems, and cryptococus is an unusual example. All such treasures do not evolve by time and chance, but were put in place during the Creation Week for our eventual use. Certainly, countless examples remain undiscovered all around us.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/small_creatures/fungus.jpg'}
        .col-sm-12
          %img{src: 'images/small_creatures/chernobyl.jpg'}
