%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The landscapes and landfills are cluttered with garbage bags and packaging materials, and grasshoppers are coming to our rescue. A high-tech biomimicry lab at Harvard University has developed a new material inspired by the wings of grasshoppers and houseflies. Called ‘shrilk’, the biodegradable film replicates the composition and structure of the wings. These structures have layers of polysaccharide polymer which is organized in a layered plywood-like structure. In the lab, fibrous protein is harvested from silk and from chitin, itself extracted from shrimp shells. The end result of fabrication is a sheet of material which is clear, strong, and nearly weightless. Control of water content further allows for either stiffness or flexibility.
      %p
        The shrilk could be used for trash bags, packaging, and even diapers, all of which would degrade after use. The material also could suture wounds when supporting strength is needed. Grasshoppers are showing us a new generation of environment-friendly materials, and these small arthropods have been so-equipped since their supernatural creation on Day Six of the first week in history. Nature is filled with countless other planned, practical ideas which await our discovery.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/grasshopper.jpg'}
