%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The Hercules beetle lives in the rain forests of Central and South America. The beetle is also found along the coast of North Carolina. It is a type of rhinoceros beetle with long horns on the males. Including horns, the beetles reach a length of six to eight inches. They may appear threatening but actually are harmless and are sometimes kept as pets. The Hercules name derives from their impressive strength. Experiments show that their strong backs can support and carry a load equal to 850 times their weight. The equivalent load for a 200 pound person would be 170,000 pounds, equal to 3-4 loaded cement trucks!
      %p
        A hard shell material covers the back of the Hercules beetle. Researchers in Belgium study how this surface is able to change color. It is normally bright green, but turns black when wet. It appears that tiny water droplets interfere with the refraction and reflection of light colors. As this mechanism is better understood and duplicated, scientists hope to make small humidity detectors, or hygrometers, in the form of adhesive tape. Such devices could be applied to many products. On flowerpots, a color change would indicate the need for water. Classroom blackboards could use a water-filled ‘moisture pen’ instead of chalk, and be erased with a pulse of heat. Moisture-sensitive car finishes could change color in the rain, making them more visible.
      %p
        Similar color-changing behavior is displayed by the Panamanian tortoise beetle. This creature changes its appearance by controlling the flow of body fluid on its surface. The shell color varies from gold to brick red. As with the Hercules beetle, the beetle from Panama leads the way in developing materials that change properties dramatically with humidity. Nature is embedded with countless useful features, created for our wonder and benefit.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/small_creatures/hercules_beetle_1.jpg'}
        .col-sm-12
          %img{src: 'images/small_creatures/hercules_beetle_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Anonymous. 2008. Mystery behind the strongest creature in the world. Science Daily (11 March).<br>
        <a href="www.sciencedaily.com/releases/2008/03/080311081146.htm" target="_blank">www.sciencedaily.com/releases/2008/03/080311081146.htm</a> (Accessed June 26 2008).<br>
        McAlpine, Katherine. 2007. Beetle of many colors Discover, December. p. 16.
