%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Honeybees have outstanding sniffing ability. Their antennae are covered with thousands of microscopic sensors. As a result, minute amounts of only parts per billion of molecules can be detected.  Besides locating pollen, the bees also can be trained to search out explosives, drugs, or chemical contaminants. They are taught to seek out and hover over particular chemicals which they associate with a sugary treat, using a process called Pavlovian conditioning. The insects learn faster than search dogs, and they pick up weak scents that the canines miss.
      %p
        Honeybees also are interfaced directly with electronic equipment. In a small ventilated container, bees are strapped into straw-like tubes. They are then exposed to puffs of outside air. The bees react with certain patterns depending on traces of particular molecules in the air samples. The response, perhaps sticking out the tongue or waving the antennae, is observed with a miniature video camera. One such device employs 36 bees. The specialized bees can screen several chemical odors at once. The devices find application in airports and at border crossings.
      %p
        Along with honeybees, wasps and moths also show promise as ultra-sensitive chemical detectors. A commercial device called the Wasp Hound, similar to that of the captive bees, is under development at the University of Georgia. Insects are given special detection abilities by the Creator. This feature helps in the insects’ survival, while their expertise also helps us monitor chemicals for security.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/small_creatures/honeybee_1.jpg'}
        .col-sm-12
          %img{src: 'images/small_creatures/honeybee_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Gaidos, Susan. 2008."Sting Operation" <i>Science News</i> 174(7): 16-19.<br>
        Rains, Glen, Jeffery Tomberlin, and Don Kulasiri. 2008. "Using insect sniffing devices for detection" <i>Trends in Biotechnology</i> 26(6):288-294.
