%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Locusts are a type of grasshopper that often travel in large swarms. A dense cloud of locusts may number in the millions, like rush hour traffic, yet they do not collide with each other. Instead, they utilize an advanced collision-avoidance system. The locust’s two compound eyes each connect to a complex cell called the ‘lobular giant movement detector,’ or LGMD. These cells, or neurones, detect any nearby objects on a collision course and signal rapid adjustments of speed or wing movement for safety. Studies show that the reaction time is near instant, five times faster than the blink of an eye.
      %p
        One obvious application of the locust safety feature is automobiles. Some high-end cars currently have collision avoidance features. However they typically use radar or infrared wave reflections, an expensive, complicated and imperfect approach. Current efforts are to copy the locust system by using visual, optical light which is simpler and less expensive than alternatives. Research success in avoiding collisions is so far demonstrated with robots. The goal is to apply this technology to highway traffic. A warning signal could be sounded just seconds before a potential collision. And if the driver does not respond, automatic safety measures could activate such as braking or air bag deployment.
      %p
        We have much to learn about the design features of the locust. Nature is programmed with nearly endless ideas for our discovery and application. Today’s world, even though far from perfect in its fallen state, clearly displays the Creator’s fingerprint.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/locust.jpg'}
  .row.references
    .col-sm-12
      %p
        Yue, Shigang, and F. Claire Rind. 2012. Visually stimulated motor control for a robot with a pair of LGMD visual neural networks. <i>International Journal of Advanced Mechatronic Systems</i>. 4(5/6):237-247.
