%h1= title
.well.design-example
  .row
    .col-sm-12
      %p
        Forest fires are devastating, yet they often clear the way for new plant life. This rebirth also extends to the animal world, including the Melanophila (mell-ann-AH-fill-a) beetle. The name means “black-loving” because the beetle is drawn to freshly burned, blackened wood where it lays its eggs. Two devices help the insect find its way to the fire source. First, the beetle antennae are very sensitive to a few parts parts per billion of smoke particles in the air. Second, the insect boasts specialized infrared sensor organs which detect the heat radiation produced by a distant forest fire. The beetles flock to fire zones which may be 50 or more miles away. Such insect behavior is described as pyrophilic or “fire-loving.” There are dozens of pyrophilic insects including a species of wasp. The level of sensitivity of these creatures to infrared heat radiation is far beyond modern instrumentation.
      %p
        The U.S. Air Force has an intense interest in infrared signals for the both the protection of aircraft and for their detection. Several research programs seek to understand the long-range infrared sensitivity of beetles and other creatures. These small created creatures have much to teach us.
  .row.text-center
    .col-sm-4
      %img{src: 'images/small_creatures/melanophila_beetle_1.jpg'}
    .col-sm-4
      %img{src: 'images/small_creatures/melanophila_beetle_2.jpg'}
    .col-sm-4
      %img{src: 'images/small_creatures/forest_fire.jpg'}
  .row.references
    .col-sm-12
      %p
        Milius, Susan. 2001. Why fly into a forest fire? It's one way to meet a lot of great bugs <i>Science News</i> (March 3) 159: 140-141. 
