%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The optical properties of morpho butterfly wings have long amazed researchers. The iridescent wing colors involve complex light diffraction, interference, reflection, refraction and more. Furthermore, the design of butterfly wings does not end with attractive colors. It is further found that the morpho wing repels water more effectively than even the lotus leaf described elsewhere on this website. Nanoscale ridges on the wings limit the contact area with water droplets. As a result the droplets roll directly off the wing surface.
      %p
        Consider some of the purposes and the promises of the hydrophobic nature (literally, water-hating) of butterfly wings. Without this property, moisture on the wings would cause unbalanced and erratic flight. Water absorbed into butterfly wings also would break down their internal structure and their ability to produce colors.
      %p
        The promise of morpho butterfly wings refers to applying their hydrophobic ability to many everyday objects (See youtube clip below). Several companies are experimenting with coatings which replicate the micro wing ridges. And because the repellent ability extends beyond water to grease and oil, the coatings may lead to clean, dry clothes, gloves, kitchen utensils, and tools. Internal electronics also can be treated. The result is that if such a cell phone or computer is dropped into water, each component will directly repel water and continue to operate.
      %p
        On a more serious level, coated aircraft wings will repel rain and ice buildup, a priceless safety issue. Butterfly wings clearly lead the way in improving everyday details of life. Again and again, we find that nature is filled with planned, practical ideas for our benefit. We have our Creator to thank for this treasure.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/morpho_butterfly_2.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="https://www.youtube.com/watch?v=Htr-J5ojRDc" target="_blank">https://www.youtube.com/watch?v=Htr-J5ojRDc</a>
