%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The Morpho rhetenor (MOR-foh REH-the-nor) butterfly wing displays beautiful iridescent blue colors. A close look shows rows of scales edged with tiny tree-like structures. These components reflect specific wavelengths of light resulting in bright colors. The optical process is complex and involves the reflection, interference, and diffraction of light. The beautiful colors of the butterfly wings has been mimicked in cosmetics by inserting tiny, layered flecks of mica or silica in eye shadow, lipstick, and nail polish.
      %p
        An additional application of the Morpho butterfly wing is a high-resolution sensor for temperature changes. As the temperature varies, slight expansion and contraction changes the spacing between the micro components on the wing. This in turn shifts the wavelength and resulting color of light which is reflected. Rapid temperature differences as small as 0.018°C (0.032°F) are readily detected by the color changes. This sensitivity far surpasses existing heat monitors. Morpho-inspired sensors have many potential applications including  ‘seeing’ inflamed areas on skin, and detecting points of heat friction in machines.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/morpho_butterfly_1.jpg'}
  .row.references
    .col-sm-12
      %p
        McKee, Maggie. 2012. Not just a pretty wing <i>New Scientist</i> 213(2852): 18.<br>
        Wogan, Tim. 2012. Butterfly lights the way to better imagining. March.  <a href="http://physicsworld.com/cws/article/news/48637" target="_blank">http://physicsworld.com/cws/article/news/48637</a>.<br>
        Radislav, Potyrailo. 2112. Nanostructures of Morpho butterfly wing scales demonstrate high resolution of temperature changes at high speed <a href="http://ge.geglobalresearch.com/blog/nanostructures-of-morpho-butterfly-wing-scales-demonstrate-high-resolution-of-temperature-changes-at-high-speed/" target="_blank">http://ge.geglobalresearch.com/blog/nanostructures-of-morpho-butterfly-wing-scales-demonstrate-high-resolution-of-temperature-changes-at-high-speed/</a>
