%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        It is a challenge to see cell-phone screens in bright sunlight. Many of us have faced this dilemma as we search for a shadowed area. There has been intensive research on the production of bright, non-reflective screen coatings, so far with limited success.
      %p
        Perhaps moths can help us out. The eyes of these small, fluttering creatures do not reflect light, whether from the moon or yard lights. The moth eye lens is coated with tiny bumps which gradually bend or refract incoming light. As a result, the eye surface remains dark and non-reflective.
      %p
        Mimicking the moth eye, scientists in Taiwan and England made a transparent screen coating covered with permanent dimples. It is found that this surface cancels glare entirely, similar to the moth eye. The next generation of cell-phone screens may have a layer of invisible bumps providing a crystal-clear image in all light conditions.
      %p
        The optics of moths are one of countless ideas available to us for new products and solutions to technical problems. These ideas are blessings for our exploration and application, arranged in place during the Creation Week by the master Designer. 
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/moth_2.jpg'}
