%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The humble moth is one of the most common sights on a summer afternoon around any flower patch. Sometimes it can be a pest around gardens, but the lowly moth is being used is one of the most modern technologies around - solar panels. Such panels or "cells" are used to capture electricity from the sun for conversion to electricity. Perhaps you have experienced the glare from a computer screen or storefront window. This type of glare reduces the amount of sunlight that can be converted to electricity in a solar panel. Therefore, researchers have searched for a material that eliminates or cuts down on reflection from panels. The key to success is found in the eye of the moth.
      %p
        Moths have eyes that are covered with a water-repellant, antireflective coating that is almost 100 percent light absorbent. In fact, their eyes are among the least reflective surfaces in nature which allows them to hide from predators. This is in sharp contrast to most animal eyes that reflect back most of the light shined on them.
      %p
        The eyes of moths have a special nano-structure of bumps and valleys that completely absorbs oncoming light. Researchers have now developed a special film that mimics the moth's eye. The film can be applied to solar panels and it may also be developed for use on windows and computer screens. So far, the film has increased the efficiency of solar panels by about 6 percent, a small but important gain. The moth, with all of its familiarity, is proving to have the most advanced antireflection coating available for our instruction.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/moth.jpg'}
  .row.references
    .col-sm-12
      %p
        Physorg.com. January 20, 2011. Insect eyes inspire improved solar cells. www.physorg.com (accessed June 9, 2011).<br>
        N. Yamada, T. Ijiro, E. Okamoto, K. Hayashi, and H. Masuda. (2011). "Characterization of antireflection moth-eye film on crystalline silicon photovoltaic module" <i>Opt. Express</i> 19, A118-A125.
