%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Machines typically make use of gears, hinges, levers, and wheels. We find similar designed devices in the animal world. Separate entries on this Discovery of Design website describe wheel (caterpillar) and screw mechanisms (weevil). Now, in addition, we find evidence for an intricate gear mechanism in the jumping apparatus of the issus coleoptratus, an insect which lives chiefly on European climbing ivy.
      %p
        The issus launches itself upward in just milliseconds, experiencing nearly 400 g’s in the process. A person can endure only about 5 g’s before losing consciousness. Researchers in England studied the tiny jumper to determine how it accomplishes this amazing feat of jumping. They located a double gear mechanism built into the insect’s rear legs. These gears intermesh and keep the legs synchronized and moving in tandem so that the jumper does not veer off to the side while in flight.
      %p
        The issus gears are located along a curved portion of its legs, somewhat like a ratchet. Each gear tooth has a length and height of about 30 microns. A human hair has a slightly larger width of about 75 microns. The insect gear is designed to produce high precise speed in an upward direction.
      %p
        Researchers suggest that issus provides us with a prototype for a new type of gear. It is typically assumed that wheels, screws, and gears have evolved in organisms over millions of years of random mutations followed by natural selection. In truth, however, we find these designed features in nature fully developed with no convincing ancestors in the fossil record. It appears that all of creation, including the plantjumper, reveals the fingerprint of the Master Designer.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/small_creatures/planthopper.jpg'}
        .col-sm-12
          %img{src: 'images/small_creatures/ivy.jpg'}
  .row.references
    .col-sm-12
      %p
        A video of the issus gear mechanism is at <a href="http://www.youtube.com/watch?v=xQk-lP2R04Y" target="_blank">http://www.youtube.com/watch?v=xQk-lP2R04Y</a>.<br>
        Burrows, Malcolm, and Gregory Sutton. 2013. Interacting gears synchronize propulsive leg movements in a jumping insect. <i>Science</i>,  Volume 341, p. 1254-1256. 
