%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Many beetles, butterflies, and birds shine with brilliant iridescent colors. One leading example is the Chrysina gloriosa (glorius scarab) beetle. Also called the jeweled beetle, it has a shiny metallic green shell which has been used for centuries as a component in jewelry. Researchers at the Georgia Institute of Technology have explored how this small beetle produces such stunning color. They find that the insect’s surface is covered with a liquid crystal structure. Such material has physical properties that overlap between liquids and solids, displaying unusual optical behavior. The beetle shell surface is covered with transparent layers which reflect specific colors of light. The scarab beetle produces the intense colors yellow and green with wavelengths of 580 and 530 nanometers. The surface layers of the beetle also produce a circular polarization of the reflected light, a complex light-shaping feature which is displayed by certain spiders, insects, and migratory birds.
      %p
        Close inspection of the shell or exoskeleton of the scarab beetle shows an intricate geometric design. Its back is covered with three distinct kinds of polygons. These are pentagons, hexagons, and heptagons with five, six, and seven sides. The microstructures fit together on the flat and curved portions of the beetle, similar to microscopic tiles on a curved wall. Each plate is less than ten microns (0.0004 inches) in size.
      %p
        Liquid crystal displays are much used today for computers, portable music players, television, and instrument displays. The study of the scarab and other beetles may help researchers produce a variety of brilliant display colors. With about 300,000 distinct known species of beetles in nature, we have much to learn from these small but beautiful creatures.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/scarab_beetle.jpg'}
  .row.references
    .col-sm-12
      %p
        Sanders, Laura. 2009. Green beetles are masters of manipulation. Science News 176(4):12.<br>
        Sharma, Vivek, Matija Crne, Jung Ok Park, and Mohan Srinivasarao. 2009. Structural Origin of Circularly Polarized Iridescence in Jeweled Beetles. Science 325(5939):449-451.
