%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Mold grows in many places with a great variety of shapes and colors. One common example found in decaying wood is named Physarum polycephalum. You may have seen its red-orange growth on fallen trees in a forest. The mold consists of a group of amoebae with both plant and animal characteristics. Also called “slime mold,” it seeks food by sending out thin strands in various directions. When a nutrient is located, the tendrils with the shortest and most efficient path thicken while other strands pull back.
      %p
        Japanese and British researchers find that the wood mold successfully navigates a maze from one food source to another. The scientists suggest that the searching ability of mold may lead to efficient designs of roadways and rail ways. On a large map of Japan, bits of oat flake food were placed at the locations of major cities. Mold was then introduced and allowed to grow outward from the point representing Tokyo. In just 24 hours, the mold colony had self-organized and formed a network of connections between the “cities.” Surprisingly, the result was nearly identical to Tokyo’s actual rail system. The researchers now are building mathematical models that simulate the mold’s behavior, and will apply the results to new transportation plans. The efficient design technique may further apply to communication networks and power grids.
      %p
        Future reliable, cost-efficient networks may be aided by observing the behavior of the lowly slime mold. Such material is commonly thought to be a simple, primitive ancestor of life on earth. The experiments, however, show mold to be a very complex part of creation. The mold simply does what its Maker programmed it to do from the beginning. As a result, in a future day we may find ourselves traveling on mold-inspired highways.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/slime_mold.jpg'}
  .row.references
    .col-sm-12
      %p
        Tero, Atsushi, and many others, 2010, Rules for biologically inspired adaptive network design <i>Science</i> 327(5964): 439-442.
