%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Spider silk is an amazing substance. It is stronger than steel of equal weight, and tougher than either steel and Kevlar, a man-made fiber. Spiders create their silk from large water-soluble protein molecules and spin them into threads. The threads are light, soft, and tough, as well as biodegradable. The only problem is that harvesting silk from spiders is quite difficult since each spider only produces a thin strand. And, of course, most spiders do not take kindly to being "silked!" Researchers have been attempting to discover a way to mass-produce spider silk using genetically-modified bacteria, silkworms, and even goats!
      %p
        If a means can be found to produce the silk, there would be instant high demand. The silk strands could be woven into cord. Cords used on parachutes and aircraft carrier arresting cables could be both stronger and lighter if made from spider silk. Another major area of silk application is biomedical engineering. Medical implants could be fabricated that naturally biodegrade once their lifetime is up, so doctors would not have to remove them. Perhaps even artificial tendons and ligaments could replace tissue in wounds. The possibilities are numerous.
      %p
        It is interesting to note that the spider is thought to have evolved at least 400 million years ago, nearly all the way back to the Cambrian Explosion at 530 million years ago. Evolution does not account for the development of spiders from other organisms, and creation offers a refreshing alternative: Spiders were created directly by God, perhaps with the intent that we would learn to use and benefit from their silk. This is just one of countless examples  where we discover practical,  planned design in nature. 
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/spider_web_1.jpg'}
  .row.references
    .col-sm-12
      %p
        Hamalainen, Karina. 2011. "Strong as Spider Silk." In <i>Science World</i>. <a href="http://findarticles.com/p/articles/mi_m1590/is_7_67/ai_n56719437/" target="_blank">http://findarticles.com/p/articles/mi_m1590/is_7_67/ai_n56719437/</a>. Accessed July 29, 2011.<br>
        Pogue, David. 2011. "What's Stronger than Steel? Spider Silk." CBSNews. Cbsnews.com. Accessed July 29, 2011.<br>
        ScienceDaily. 2010. "Native-Like Spider Silk Produced in Metabolically Engineered Bacteria." Sciencedaily.com. Accessed July 29, 2011.
