%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Hundreds of millions of birds are killed each year across the U.S. by flying directly into window glass. Some window glass is nearly invisible and other surfaces confuse birds by reflecting nearby trees, the sky, or the birds themselves. To address this glass-collision problem, researchers turned their attention to spider webs. Spiders such as the orb weaver construct their webs with a type of silk which reflects ultraviolet light. Our eyes do not detect ultraviolet (UV) light, which is a short-wavelength component of sunlight. UV is a cause of sunburn and is a major component of black light. In contrast to our own optics, insects and birds readily see UV.
      %p
        The UV-reflecting spider silk serves two purposes. First, it attracts insects to the web. Some spiders actually arrange the UV coating on their webs with flower-like patterns to draw in and trap pollinating insects. As a second purpose, the ultraviolet reflection warns birds to avoid striking the webs and destroying the spider’s ability to capture prey. Arnold Glass Company, California, produces bird-friendly glass called ORNILUX. Its surface has a criss-cross pattern of UV-reflecting film which reflects ultraviolet light. This coating on the window glass is invisible to people; however, birds readily see the pattern and avoid collisions.
      %p
        Nature is filled with design ideas for solving problems and generating new products. In this particular case, spider webs lead the way in providing safety for birds in flight. Practical design ideas do not come by chance or slow change in nature. Instead they were established at Creation for our exploration and application. Surely, most of these resources still await discovery.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/bird.jpg'}
  .row.references
    .col-sm-12
      %p
        ORNILUX bird protection glass, <a href="ornilux.com" target="_blank">ornilux.com</a>