%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Two distinct varieties of spider web are the cobweb and the orb web. On either type of strand, a film of glue is added to trap and hold insect victims. It is noticed that humidity affects the web glue very differently between the two. Cobweb glue repels water and maintains its stretching and sticking ability (elasticity and adhesion) when wet. In contrast, the glue produced by orb-weaving spiders reacts readily with moisture. As humidity increases the orb glue expands in volume, increases in elasticity, and decreases slightly in adhesion. The net result of the multiple changes is an ideal adhesion at all humidity values, except for the unwary insect which becomes trapped.
      %p
        Researchers at the University of Akron, Ohio, are fabricating smart materials by duplicating the glue behavior of spiders. Smart materials change their physical properties in response to external stimulus such as temperature, humidity, and magnetic field. Products include packaging, clothing, and electrical sensors. The non-response of cobweb glue to moisture is also of value for making stimuli-resistant materials.
      %p
        Besides spider web glue, many other items in creation display smart material templates including pine cones and bird feathers. It is assumed in evolution theory that orb-weaving spiders long ago evolved from the cobweb variety. In truth, spiders and all other creatures are part of the supernatural Creation Week.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/spider.jpg'}
  .row.references
    .col-sm-12
      %p
        Sahni, V., T.A. Blackledge and A. Dhinojwala. 2011. Changes in the adhesion properties of spider aggregate glue during the evolution of combwebs <i>Scientific Reports</i> July 21<br>
        <a href="http://www.nature.com/srep/2011/110721/srep00041/full/srep00041.html" target="_blank">http://www.nature.com/srep/2011/110721/srep00041/full/srep00041.html</a>
