%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        In tropical areas, termites build earth mounds up to two stories high. These mounds are  sky scrapers compared to the small termite size. The insects appear to be programmed for the simple repeated tasks of carrying material fragments upward and fitting the particles carefully in place. The activity reminds one of the behavior of bees in a hive, and such group activity in general is called “swarm intelligence.”
      %p
        The termite building technique has inspired the development of small, simple robots. The research is carried on by scientists at Harvard University. The devices are just inches in size with wheels. They are able to move forward, backward, climb steps, and carry small objects. With proper traffic lanes of movement, multiples of these mini-robots are able to cycle through particular motions to build ramps, towers, and complex structures.
      %p
        Researchers anticipate many future applications. The tireless robots have the potential of building facilities on the floor of the ocean or on Mars. They could also be programmed to construct levies in dangerous flood zones. Think of a swarm of termite-like robots working through the night.
      %p
        The typical suggestion is that termites have evolved over countless generations to reach their present state of building expertise. In truth, however, these small creatures were programmed from the beginning of creation for their activity across the earth. One might also suggest that they were created as an example of ambition and technological progress.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/termite.jpg'}
  .row.references
    .col-sm-12
      %p
        Rosen, M., Termite-inspired robots build structures without central control. Science News. March 22, 2014.  This article includes a video clip of the termite-robots at work, <a href="https://www.sciencenews.org/article/termite-inspired-robots-build-structures-without-central-command" target="_blank">https://www.sciencenews.org/article/termite-inspired-robots-build-structures-without-central-command</a><br>
        Werfel, J., K. Petersen and R. Nagpal, Designing collective behavior in a termite-inspired robot construction team. <i>Science</i>. 343(6172): 754-758.
