%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Velvet worms are colorful caterpillar-like creatures that vary in length from one to eight inches. Closely similar marine fossils have been dated at 500 million years old. The time scale needs to be challenged; however, the point is that these colorful worms have not changed, evolved, or gone extinct since their creation. There are about 180 known distinct species of velvet worms.
      %p
        Of special interest in velvet worm studies is their unique ability to defend themselves or capture prey. The worm has twin jets located in glands near its mouth called oral papillae. It manufactures a protein-rich goo which is squirted from the jets at high speed, similar to a syringe. Like a runaway garden hose, the jet nozzles wave rapidly from side to side when firing over a timescale of milliseconds. A network of the goo strands may envelope a nearby beetle and solidify within seconds. The slime travels up to three feet to discourage aggressors or literally lasso dinner for the worm.
      %p
        The rapid oscillating nature of the emitting jets was discovered only recently with high speed videos. The chaotic motion is called hydrodynamic instability and appears to be unique in the animal world. Several technical applications are suggested by the ability of this creature. First, the fast-drying glue may have applications as adhesive ranging from from construction to surgery. The chemistry of the gooey material is not yet understood. Second, the sprinkler-like spray mechanism may be duplicated in either micro or nanofluid devices. For example, a vibrating spray nozzle could be part of an ink jet printer, spraying fine particles to print clear individual characters. Third, the pattern of slime strands fomred by the velvet worm suggests the rapid manufacture of non-woven fiber surfaces.
      %p
        The lowly velvet worm has been described as a primitive animal which has evolved a sophisticated ability to protect itself. In truth, this amazing creature shows highly unusual design. The endless variety of plants and animals displays the Creator’s artwork.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/velvet_worm.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href="https://www.youtube.com/watch?v=Oh4ezLN2IqM" target="_blank">https://www.youtube.com/watch?v=Oh4ezLN2IqM</a><br>
        Applications: <a href="http://www.rdmag.com/news/2015/03/secret-effortless-split-second-slime-attack" target="_blank">http://www.rdmag.com/news/2015/03/secret-effortless-split-second-slime-attack</a><br>
        Several articles: <a href="http://www.altmetric.com/details.php?domain=www.nature.com&citation_id=3799489" target="_blank">http://www.altmetric.com/details.php?domain=www.nature.com&citation_id=3799489</a>
