%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Water bears are tiny arthropod animals, just 0.05 – 1.2 mm in size. For the smaller size, over one thousand could line up along just one inch. The name water bear comes from their cuddly, baggy microscopic appearance along with four pairs of short legs. They are also known as tardigrades with over one thousand distinct species cataloged. Water bears live worldwide in soil, foliage, and fresh and marine waters. A website is dedicated to their study, <a href="http://www.tardigrada.net/newsletter/index.htm" target="_blank">http://www.tardigrada.net/newsletter/index.htm</a>.
      %p
        Of special interest is the ability of water bears to survive extreme conditions. They can dry out completely in a form of suspended animation and then come back to active life much later when moistened. In their dry state, internal water is replaced with a sugar called trehalose. This chemical encases and stabilizes the animals’ internal structure against deterioration. Desiccated water bears have been exposed to heat at 302°F (150° C), cold near absolute zero, lethal radiation, extreme pressures and the harsh environment of space. When brought back to normal conditions, sometimes after decades, most of them revive.
      %p
        Lengthy water bear survival without water has caught the interest of medical workers. Vaccines with both living and nonliving components are fragile and must typically be refrigerated until used. Research efforts are exploring whether chemicals similar to trehalose sugar may stabilize the vaccines, giving them a long shelf life without cooling. Such “dry vaccines” would greatly simplify their use in remote parts of the world. The valuable drying-out feature also might be extended to the storage of tissue samples, blood platelets and stem cells.
      %p
        Besides water bears there are other organisms which exist without water for long time periods. These include the resurrection fern and brine shrimp. The latter are popularly called “sea monkeys” when in the dried state. These plants and animals can teach us how to extend the life of medicines and other medical samples. All are examples of biomimicry the application of features designed in the Creation for our eventual discovery and benefit.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/water_bear.jpg'}
