%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The designs featured in this collection typically lead to new products or solutions to problems. This example is highly unusual in that it was discovered in the weevil  in 2011, long after its application in technology. The reference is to metal screws and nuts, used worldwide by the trillions. These fasteners are strong, removable, and often interchangeable.
      %p
        Weevils are a type of beetle with the bad reputation of damaging crops. They live worldwide, and the specimens under study in this example are from New Guinea. It is found that the weevil's legs are attached to its body with a screw and nut mechanism. Instead of a ball and socket joint, like our shoulder for example, the weevil's upper leg is threaded, as is also the socket that connects it. Researchers measured the range of motion of legs at 345°. As the weevil walks, its legs twist and untwist along the threads somewhat like a loose screw. An enlarged segment on the inner end, the "nut," stops the leg from unwinding too far.
      %p
        The researchers now wonder if the weevil's screw-and-nut mechanism may be present elsewhere in the living world. It is difficult to imagine how this amazing design could evolve slowly, by chance. And in fact it didn't. The weevil's locomotion has existed since the creation of all kinds of beetles on the sixth day of the Creation Week.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/small_creatures/weevil_1.jpg'}
        .col-sm-12
          %img{src: 'images/small_creatures/weevil_2.jpg'}
  .row.references
    .col-sm-12
      %p
        No author, 2011, Beetles beat us to the screw and nut, <i>New Scientist</i> 211(2820): 17<br>
        Van de Camp, T., P. Vagovic, T. Baumbach, and A. Reidel, 2011, A biological screw in a beetle's leg <i>Science</i> 333(6038): 52.
