%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Research continues on asteroids, comets, and moons in the solar system. A challenge in exploring these minor space objects is that their surface gravity is small, in some cases near zero. As a result, a lander which would weigh hundreds of pounds on earth might be as light as a feather on a comet. Rather than settling on such a surface, a descending probe may rebound upward with loss of control. Another challenge involves drilling into the surface of such space objects, always a valuable pursuit. With no firm attachment to the surface, a rotary drilling operation could send the entire probe spinning upward rather penetrating the surface.
      %p
        An insect called the wood wasp (also horntail wasp) provides a possible solution to space drilling problems. These small creatures are able to drill directly into a hard wood surface without recoiling into the air. Instead, their complex cutting mechanism provides a strong anchor which holds them firmly in place. The secret is two side-by-side needle-shaped drills with serrations. The first drill penetrates the wood surface slightly and its teeth grasp the wood structure. The second drill then enters and cuts deeper. At the same time the first drill is withdrawn while its teeth still grasp the wood, holding the insect in place. The two side-by-side drills rapidly alternate back and forth, drilling and grasping. Eventually an opening in the wood results where the wasp deposits its eggs.
      %p
        For a planetary surface space probe, a similar reciprocating drill may provide traction to allow excavation, whether the depth is just inches or feet (Gouache, 2010). Such a metallic drill would be light weight and energy efficient. Prototypes are being tested in preparation for use on space landers.
      %p
        Insects were designed by the Creator for their survival and well-being. Meanwhile, study of the wood wasp is helping scientists plan for space exploration. The ideas and problem solutions to be found in nature appear to be endless. One by one, we are applying creation details planned for our discovery and use.
    .col-sm-6.text-center
      %img{src: 'images/small_creatures/wood_wasp.jpg'}
  .row.references
    .col-sm-12
      %p
        Gouache, Thibault, Yang Gao, Yves Gourinat and Pierre Coste. 2010. Wood wasp inspired planetary and earth drill. <i>Biomimetrics Learning from Nature</i>. InTech Publications, Croatia.<br>
        <a href="http://cdn.intechopen.com/pdfs-wm/10028.pdf" target="_blank">http://cdn.intechopen.com/pdfs-wm/10028.pdf</a>
