%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Eagles and hawks have the keenest eyesight known in nature. An eagle can see swimming fish from several hundred feet above water, or spot a rabbit almost a mile distant. NASA studies of the physiology of eagle eyes have unlocked some of the secrets of their amazing ability. Tiny bubbles of oil are present in the retinal fluid of the birds. These droplets block harmful ultraviolet light and the glare of sunlight. As a result, eagles can distinguish their prey from surroundings with extreme precision.
      %p
        The optical features of the eagle's eye are somewhat duplicated in quality sunglasses. Astronauts have made use of these polarized, glare-free sunglasses. The specialized lenses are listed as one of many "spinoffs" from the space program. In truth, however, "cutting edge" sunglasses are a give, inspired by the created vision of the eagle's eye.
    .col-sm-6.text-center
      %img{src: 'images/flight/eagle.jpg'}
