%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Flight is a remarkable part of creation and is not limited to birds and insects. More than 60 species of fish also appear to enjoy leaving their watery home and slipping through the air. This ability avoids predators and also is an efficient way to cover large distances. Fish flight begins as they rapidly whip their tails back and forth and propel themselves directly out of the water. They are observed to glide more than 1300 feet (400 meters) while traveling at 40 miles per hour (70 km/hr).
      %p
        Flying fish have large pectoral fins which resemble wings. Changes in the tilt of these fins controls lift and direction of flight. A smaller rear pelvic fin provides stability in flight. Additional flight distance is noticed when flying fish glide just above the water surface. Experiments show that the nearby water smoothes out air currents coming off the fish, reducing air resistance or drag.
      %p
        The obvious design of flying fish may prove useful for future aircraft. Research continues on the benefits of fin-type wings. Stay tuned for airplanes that resemble flying fish. Fish first appeared on Day Five of the Creation Week in all their abundant variety. Ever since, the flying fish have been displaying their God-given ability to swim and soar.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/flight/flying_fish_2.jpg'}
        .col-sm-12
          %img{src: 'images/flight/flying_fish_3.jpg'}
  .row.references
    .col-sm-12
      %p
        Park, H. and H Choi. 2010. Flying fish glide as well as birds. Journal of Experimental Biology 213(19):3269-3279.
