%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The hummingbird is a favorite of many bird watchers and nature enthusiasts, perhaps because it is so unique in the bird world. There are several hundred species of hummingbird in the Americas, the only place they are found today. They range in size from 2 ½ to 5 inches (5.8 - 20 cm) and can weigh between 1/15 and 2/3 oz (2 - 20 grams). Unlike other birds, their wings provide uplift on both the down stroke and the upstroke, flapping in a figure-8 pattern that allows them to fly forward, backward, up, down, or hover motionless in midair.
      %p
        Hummingbird flight has been studied for applications in military defense technology. A flying contraption resembling a mid-sized hummingbird has been successfully built and flown. A California-based company designed the "Nano Hummingbird" that flies through doorways, hovers, and can keep itself steady in winds up to 5 mph (8 km/hr). This ‘ornithopter' is still in proto-type stage but could prove to be extremely valuable for emergency responders and military intelligence.
      %p
        One prominent website proclaims that hummingbirds have evolved at the same time as ornithophilus plants, the flowers that hummingbirds feed on. However, the design and specialty of the hummingbird better fits with the concept of design by a Creator. This design is such that modern engineers have yet to replicate the sophisticated flight apparatus and techniques that the hummingbird uses with such ease. Such a masterpiece is a testimony to the intelligent design of this remarkable bird.
    .col-sm-6.text-center
      %img{src: 'images/flight/hummingbird.jpg'}
  .row.references
    .col-sm-12
      %p
        http://www.physorg.com/news/2011-02-robot-hummingbird-flight-video.html<br>
        http://www.popularmechanics.com/technology/military/planes-uavs/flight-reimagined-the-first-robotic-hummingbird<br>
        http://www.hummingbirdworld.com/h/
