%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Japan is a world leader in high-speed trains. These bullet trains travel safely at over 200 miles per hour (322 km/hr), but there are problems. The Japanese rail system has many tunnels. When a high-speed train passes through a tunnel, a cushion of air builds up and is pushed along in front of the train. As the train exits the tunnel, this compressed air suddenly expands with a loud sonic boom. For miles around, the noise rattles windows and wakes people up.
      %p
        To solve the problem, the train experts studied a bird called the kingfisher. It looks comical with a stubby tail, large head, and long beak. A closer look, however, shows that this creature is perfectly designed for its favorite activity, fishing.  It dives straight down into water with very little splash, like the best Olympic contender When the kingfisher hits the water, there is a major pressure difference, somewhat similar to the pressure changes caused by bullet trains.
      %p
        The king fisher diving ability has led to a redesign of many Japanese train engines. Some are now shaped like the beak of the kingfisher with a long, tapered nose. The result is much less noise when leaving tunnels, and the trains use 15 percent less energy overall. Even the recessed train headlights are modeled on the nostrils of the kingfisher. As one Japanese design engineer concluded, “We are surrounded by genius.”
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/flight/kingfisher_1.jpg'}
        .col-sm-12
          %img{src: 'images/flight/kingfisher_2.jpg'}
