%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The Peregrine Falcon is known for its extreme diving speed, greater than 200 miles/hour (320 km/mi), the highest speed of any creature known to man. This is partially due to stiff feathers and an aerodynamic teardrop shaped body.
      %p
        The falcon shows advanced design in many other ways including black patches on its face similar to a football player’s eye black. This shading minimizes glare to allow focusing on its prey. Falcon eyesight is protected by a “third eyelid” which clears and lubricates the eyes during rapid flight. It pulse rate can reach 600-900 beats per minute, carrying oxygen throughout the bird’s body.
      %p
        There are hazards to high speed flight. Mainly, breathing becomes difficult and high wind pressure can damage the lungs. To compensate, the falcon has specialized cone-shaped bones near its nostrils, called baffles, which deflect shockwaves of air safely away and allow controlled incoming air for breathing.
      %p
        Jet aircraft face a wind problem similar to the peregrine falcon.  When they move at supersonic speeds, their engines can “choke”. This means that air moving in front of the engine appears to hit a wall of resistance and flows around instead of through the engine and stalling results. From studies of the falcon’s nostril, engineers fashioned a metallic cone in the opening of the jet engine. They found that air entered and fed the engine as required for flight. The aircraft cones can be observed at the center of large jet engines. They are a successful solution to a serious flight problem, supplied by the Peregrine Falcon.
      %p
        Nature is filled with similar useful ideas and solutions to problems, provided by the Creator at the beginning of time. One by one, we discover these ideas and make improvements to technology. Such examples of intelligent design in nature reveal the fingerprint of the personal, loving Creator.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/flight/peregrine_falcon_1.jpg'}
        .col-sm-12
          %img{src: 'images/flight/peregrine_falcon_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Biodiversity Heritage Library, book of the week: The Peregrine and Modern Aviation: <a href='http://blog.biodiversitylibrary.org/2010/09/book-of-week-peregrine-and-modern.html' target='_blank'>http://blog.biodiversitylibrary.org/2010/09/book-of-week-peregrine-and-modern.html</a><br>
        Military Analysis <a href='http://militaryanalysis.blogspot.com/2009/11/falco-peregrinus.html' target='_blank'>http://militaryanalysis.blogspot.com/2009/11/falco-peregrinus.html</a>
