%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Perhaps you have watched birds fly through the thick branches of trees. They do so quickly and safely even when darkness approaches. How are they able to avoid collisions? To explore this ability, Harvard scientists attached small video cameras to the foreheads of pigeons and trained them to fly through an artificial forest of upright sticks.
      %p
        The eyes of pigeons enable them to see fully to the sides as well as directly ahead. Their wrap-around vision has an angle of sight greater than 300° while our own vision is limited to 180° or less. Pigeons and other birds are also observed to switch between views with small rapid movements of the head. Their vision must stabilize and become clear almost instantly.
      %p
        Further observations of birds reveal their tendency to choose the straightest possible route, thus minimizing flight time. Fewer turns mean more efficient use of energy. Surprisingly, birds often exit a tree of small forest in the same direction they enter in spite of necessary twists and turns.
      %p
        Researchers hope to duplicate the flight ability of birds with small unmanned aircraft. With present technology, detailed information must be provided continually to aircraft to avoid obstacles. Birds were created on Day Five of the Creation Week with their amazing flight abilities in place and functioning. They continue to teach us how to fly.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/flight/pigeon.jpg'}
  .row.references
    .col-sm-12
      %p
        No author. 2011. Auto-pilots need a birds-eye view. <a href='http://www.sciencedaily.com/releases/2011/07/110701150457.htm' target='_blank'>http://www.sciencedaily.com/releases/2011/07/110701150457.htm</a>.<br>
        No author. 2011. The pigeon: less flying rat, more living helicopter <i>New Scientist</i> 212(2841):21. 
