%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Flying reptiles were created on Day Five of the Genesis Creation Week. Some of these majestic creatures, called pterosaurs, reached a wingspan of 34 feet and weighed more than 500 pounds. The word pterosaur means winged lizard. These record-size flyers are also known as the earliest vertebrates with powered flight.
      %p
        Studies are underway to learn the mechanics of pterosaur flying ability. Their wings were long and double jointed. A crest or sail on their head served as a forward rudder which allowed for rapid turns. Flight engineers hope to mimic pterosaurs with a small flying drone, just 30 inches across. Slow flight is desired, similar to the pterosaurs, just 30-40 miles per hour. This will permit the drone to do photography and air sampling.
      %p
        Pterosaurs are said to have evolved 200 million years ago and lived up to the time of the dinosaurs. In truth, like all other parts of nature, they reflect the recent supernatural creation. Evolution typically assumes that design in nature is only apparent, and actually is the result of long-term mutations and natural selection. However, pterosaurs show us that flight has been programmed into creatures from the beginning which was just thousands of years ago, not millions.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/flight/pterosaur.jpg'}
  .row.references
    .col-sm-12
      %p
        <a href='http://www.popsci.com/military-aviation-amp-space/article/2008-10/welcome-pterodrone' target='_blank'>http://www.popsci.com/military-aviation-amp-space/article/2008-10/welcome-pterodrone</a><br>
        Snead, Annie. 2014. Pterosaur Tech. Scientific American, August, p. 22.
