%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A key concept in chemical engineering is called countercurrent exchange. To illustrate, consider two liquids moving through long parallel pipes. Suppose further that one liquid is cold and the other hot, and we want to exchange the temperatures. It is found experimentally that if the fluids are moving in the same direction, about one-half the heat can be exchanged between the pipes with the two fluids ending up at the same temperature. If the fluids move in opposite directions, however, nearly 100 percent of the heat from the hot fluid can be passed to the cold fluid. The fluid which was originally hot becomes cold, and vice versa.
      %p
        Counter current exchange, together with semi permeable membranes, is displayed by many living creatures. Fish use the process in their gills to transfer oxygen into the blood, and our own kidneys use the exchange to filter blood and remove wastes.
      %p
        Consider seagulls, which are provided with the countercurrent exchange process to solve a life-or-death problem. Depending on their location and season, seagulls may spend time either standing in freezing water or directly upon ice. How are they able to maintain a warm core temperature in these extreme conditions? As warm blood moves from the heart downward through the legs and toward the feet, the arteries are aligned with cooled blood which is returning upward in the veins. Lace-like capillaries weave together to bring the warm and cool blood supplies into close contact. As a result of the heat exchange process, the downward-moving blood is already cool when it reaches the feet. Conversely, the upward-moving blood is already re-warmed by the time it returns to the seagull’s body. In this way the body temperature remains at 100 degrees Fahrenheit or greater, even when the feet experience subfreezing conditions.
      %p
        The Creator has provided seagulls with advanced plumbing in their circulation system. Continuing study of this heat exchange may contribute to the design of industrial chemical processes and domestic heat pumps.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/flight/seagull_1.jpg'}
        .col-sm-12
          %img{src: 'images/flight/seagull_2.jpg'}
