%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The wandering albatross is one of the world’s largest birds with a wingspan of 8-12 feet or larger. The seabird travels thousands of miles over southern seas, and has long been a source of superstition and good luck for sailors. In our day, the albatross may be of more realistic help for modern seafarers. The bird displays advanced gliding techniques, using the energy of the wind to carry it along. It often flies just above the waves, using their updrafts for buoyancy. They also use a technique called “dynamic soaring” which makes use of different wind speeds at various heights above the water.
      %p
        Computer studies by British laboratories show that unmanned aircraft flight is possible, similar to the albatross. Small spotter planes, modeled on the seabird’s shape and behavior, could help fishing crew spot distant shoals of fish. Airplane drones could also patrol the coastlines for long periods of time, keeping watch for drug-runners at little cost. The wandering albatross is inspiration for aircraft at sea.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/flight/wandering_albatross_1.jpg'}
        .col-sm-12
          %img{src: 'images/flight/wandering_albatross_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Marks, Paul. 2009. Albatross inspires ocean-skimming drone. <i>New Scientist</i> 204(2729):22.  
