%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Many American alligators live in stagnant, polluted waters. Their diet includes diseased, infected, and injured animals. In addition, fierce battles with prey often lead to wounds. Nevertheless, the alligators tend to remain healthy. Studies of their blood reveal chemicals which are powerful germ fighters. These chemicals include bits of protein called peptides which are antibacterial in nature. Similar peptides have been found in certain other reptiles and amphibians. Infectious disease specialist Dr. Paul Klein at the University of Florida College Of Medicine in Gainsville, says "It seems that Mother Nature has built in a circulating system of antimicrobial factories that protect animals."
      %p
        Research shows that the alligator blood components also attack and neutralize several human pathogens. These include E. coli, the herpes simplex virus, and some strains of yeast infection. In coming years, alligators may provide us with life-saving drugs.
    .col-sm-6.text-center
      %img{src: 'images/land_animals/alligator.jpg'}
  .row.references
    .col-sm-12
      %p
        Ehrenberg, Rachel. 2008. Antibiotic alligator. <i>Science News</i> 173(15): 228.
