%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The dromedary camel is at home in the hot Sahara Desert where temperatures can exceed 170°F (77°C). Special features of the camel’s nose allow it conserve precious moisture with each breath. Ordinarily, air exhaled from the lungs carries moisture away from the body which is lost. However, the camel nostril is lined with water attracting hygroscopic tissues. These membranes capture exhaled moisture from the outgoing air and return it to the body.
      %p
        The camel’s moisture exchange ability can also be reversed when needed. Evaporation of moisture is a cooling process, easily noticed on a warm day. Water or perspiration evaporating from our skin feels cool as heat is absorbed from our body. When there is a need for a camel to reduce its body temperature, moisture readily evaporates from the nostril lining into the exhaled air. This is an automatic process controlled by the camel’s internal temperature regulation system, just as perspiration protects our bodies from overheating.Inspired by the camel’s water conservation ability, scientists have arranged a football-size garden of plants and trees in the Sahara Desert. First, warm salt water is brought in from the sea. Then, cool ground water is pumped from hundreds of feet beneath the surface. Through a plumbing system, as the warm sea water evaporates in the desert heat, the salt-free moisture is condensed by the cool ground water. This fresh water supplies the vegetation. Moisture given off by the plant leaves is also re-condensed and recycled. The open-air greenhouse is called the Sahara Forest Project.
      %p
        Water efficiency learned from the dromedary camel has been duplicated in the successful effort to make the hottest desert bloom. Creation provides an endless source of practical ideas for the welfare of mankind. This is true intelligent design in application.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/camel.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/sahara_forest_project.jpg'}
