%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Many of us remember the misfortune of stepping on a thumbtack, sitting on a tack (!), or reaching into a box of thumbtacks and getting pricked. New York design engineer Toshi Fukaya has now found a simple solution to the painful problem. Toshi noticed how his pet cat used retractable claws. The sharp claws are kept safely withdrawn until needed for defense or stretching. Inspired by the cat’s paw, Toshi designed a retractable thumbtack.The entire thumbtack is placed inside a flexible clear capsule made of soft silicon. When pushed against a hard surface, half the capsule collapses and exposes the pin. When pulled back out, the sharp point is again encased within the capsule. One can safely pick up a handful of the new thumbtacks without danger of a pin prick. 
      %p
        The new safety thumbtack was a 2011 winner in the Red Dot Design Concept competition. However, credit should first be given to the Creator for designing the cat’s paw in the first place.  Nature surrounds us with useful ideas and solutions to problems. These countless treasures were placed in creation for our benefit and we find them one by one. This is intelligent design of a practical, useful level.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/cat.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/safety_thumbtack.jpg'}
