%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Chameleons display many design features including changing skin color and stereoscopic eyesight. Another feature is their ability to capture insects with an extended tongue. Upon sighting fresh prey, the chameleon quickly extends its tongue to twice its body length. The tongue moves outward at ten meters per second (33 ft/sec). Once released, the tongue is in free flight and unguided, so it must be launched with precision. In addition, the tongue must exert very little force to make a sticky capture without pushing the target insect away.
      %p
        The chameleon tongue is catapulted outward with astonishing dexterity by an "accelerator muscle". After insect capture, the muscle quickly contracts to reel in the tongue. Japanese scientists are studying the chameleon's tongue movement for practical application. For example, on assembly or production lines, robotic arms must manipulate items at a distance. An extendable arm, similar to the chameleon tongue, is fired outward using an electric force. A magnet mounted on the end of the arm then grasps an object. A small camera mounted on the arm helps guide the magnet to the target.
      %p
        The laboratory apparatus somewhat mimics the ability of the chameleon. This creature has much to teach us about robotics. The earliest chameleon fossil is dated at 26 million years, an age which we challenge. The chameleon was designed from its origin during the biblical Creation Week. 
    .col-sm-6.text-center
      %img{src: 'images/land_animals/chameleon.jpg'}
  .row.references
    .col-sm-12
      %p
        Debray, Alexis. 2011. Manipulators inspired by the tongue of the chameleon. <i>Bioinspiration and Biomimetics</i> 6(2).<br>
        Marks, Paul. 2011. Artificial tongue lashes out like a chameleon. <i>New Scientist</i> 210(2808): 26.
