%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Perhaps you have stood near a wet dog as it dries by shaking its fur. Watch out! An impressive amount of water is thrown off in all directions. The shaking technique for furry creatures including mice, dogs, and bears is studied by researchers at the Georgia Institute of Technology in Atlanta. They find that larger animals tend to move their bodies at a frequency of 4-5 shakes per second. Mice and rats move more rapidly, up to 27 shakes per second. Whatever the size, each creature begins the shaking process with its head and then the process moves along the body. Mathematical formulas have been established for the animal shaking process based on size, nature of the fur, water surface tension, and other variables. The animals apparently know these technical details by instinct. 
      %p
        The findings may have application to a variety of machines including clothes dryers, painting devices, and spin coaters. This last device is used to apply a thin coat of liquid material on a flat surface. A droplet is applied to the surface and then rapidly rotated, causing the droplet to spread outward. In each of these machines there are unknowns regarding the rapid fluid motion. Continued study of animal behavior may lead to more efficient construction and operation of the machines. In clothes dryers, for example, a rapid back-and-forth motion, similar to a shaking dog, may be more efficient than the usual spinning motion.
      %p
        Ever since their creation, animals have been programmed for well being, including their precise, effective shaking process to remove excess water. We have much to learn from God’s amazing creatures, large and small, wet or dry.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/dog_1.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/dog_2.jpg'}
