%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        In 1935, inventor Paul Sperry sought a solution to a problem encountered in his hobby of sailing off the shore of New England. Whenever the boat deck became wet, it was slippery and dangerous. One winter day during a walk, he noticed that his cocker spaniel remained surefooted, even on slippery sidewalks. Sperry later examined the dog’s paws closely and noticed wave-like grooves on the pads.
      %p
        Sperry began to experiment with shoes. He obtained a thick sheet of rubber and cut grooves in a zigzag “herringbone” pattern. Then he attached two sections of this rubber to his canvas, flat-bottomed sailing sneakers and tested them. The traction was obvious when he walked on ice or any slippery surface. The grooves allowed the shoe sole to deform slightly and to grasp the ground surface. When the surface was wet, the grooves channeled water outward from under the shoe. Sperry went on to manufacture the first non-skid deck shoes, called Sperry Top-Siders. They were an immediate success in the world of sailing, and are still manufactured today in a style called the Authentic Original. Grooved soles on sports shoes are now a worldwide standard.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/dog_3.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/shoes.jpg'}
