%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Lizards are some of the most versatile animals on the planet. Geckoes for example can climb straight up walls, even across glass ceilings upside down. Their feet have been studied to learn how to make better adhesives. Now, lizards are the subject of a new investigation which includes the dinosaurs. Researchers are looking at how lizards use their tails for balance, resulting in similar mechanical "tails" for robots.
      %p
        Robots with wheels tip over quite easily, especially when crossing an uneven surface or when falling over an edge. Lizards, on the other hand, use their tails to control their orientation or pitch in the air so they land safely on all fours. Using a prototype "robo-lizard," the scientists were able to successfully land a tailed robot on all four wheels after driving off a ledge, or rolling over large bumps.
      %p
        The Creator has endowed his creation with all that is needed to survive and thrive in the midst of obstacles and challenges, and in doing so has given us a model on which to base our modern technology. We are only beginning to tap into His designs and resources, which have  waited since the beginning of time to be discovered and used.
    .col-sm-6.text-center
      %img{src: 'images/land_animals/lizard.jpg'}
  .row.references
    .col-sm-12
      %p
        Wikipedia. 2012.  "Gecko." http://en.wikipedia.org/. Accessed January 16, 2012.<br>
        Campbell, MacGregor. 2012. "Robotic rover uses tail to land like a lizard." http://www.newscientist.com/. Accessed January 16, 2012.<br>
        Libby, T., Moore, T.Y., Chang-Siu, E., Li, D., Cohen, D.J., Jusufi, A., Full, R.J. 2012. Tail-assisted pitch control in lizards, robots and dinosaurs. Nature advance online publication.<br>
        Video: <a href='http://blogs.scientificamerican.com/observations/2012/01/04/robot-uses-lizard-tail-to-leap/' target='_blank'>http://blogs.scientificamerican.com/observations/2012/01/04/robot-uses-lizard-tail-to-leap/</a>

      