%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Poison dart frogs are native to Central and South America. They are small, colorful and dangerous to predators because of toxins in their skin. Subsurface glands contain the poisons which are secreted unto the outer skin surface as needed for protection.
      %p
        Observation of the frogs by a researcher from Arizona State University is leading to a novel and practical problem solution involving aircraft. In cold climates, airports regularly must de-ice aircraft wings with glycol antifreeze. The effort is to prevent the dangerous buildup of ice before and during flights. Borrowing from the skin geometry of the poison dart frog, the proposal is to apply a new, two-layer micro-structure to aircraft wings. The outer layer is a coating which is superhydrophobic. This means that it repels water, a first line of defense. If frost forms, however, the ice crystals will move into the porous coating. Meanwhile, the inner surface coating is a superhydrophilic material which has an affinity for water. This inner layer is also porous and infused with antifreeze. The antifreeze is drawn toward the frost crystals which then melt to maintain an ice-free wing. The antifreeze reservoir on the wing surface functions like the poison glands of the poison dart frog, secreting the material as needed.
      %p
        Current de-icing practice at airports is expensive, wasteful, and damaging to runways. De-icing departure delays in cold weather are also a serious  issue. The alternative surface coatings for wings are paper-thin and readily recharged with replacement antifreeze.
      %p
        Who would have thought it: Understanding the design of poison dart frogs may increase the safety of commercial aircraft. This biomimicry example is one of countless examples of practical ideas from nature, placed there by the Creator for our discovery and application. 
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/poison_dart_frog_1.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/airplane.jpg'}
  .row.references
    .col-sm-12
      %p
        Sun X., V.G. Damle, S. Liu, and K Rykaczewski ,2015, Bioinspired Stimuli-Responsive and Antifreeze-Secreting Anti-Icing Coatings. <i>Advanced Materials Interfaces</i>, 2.
