%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Polar bears roam the Arctic ice where winter temperatures average -29째F (-34째C). These mammals have an internal temperature very close to our own, 98.6째F (37째C); however, they are not bothered by the cold. Instead, they are protected with multiple layers of insulation which may suggest improvements for the design of buildings and apparel.
      %p
        A layer of blubber 4-5 inches thick lies beneath the adult skin which is black in color. This skin, in turn, is covered with dense fur. The fur actually is colorless, and scatters sunlight to give the familiar white color. The individual hairs are hollow, trapping air for insulation. This feature has been copied by hollow textile fibers in light-weight winter jackets and sleeping bags. The bear's hair strands also may provide a fiber optic pathway to deliver sunlight to the skin. The dark skin itself is an excellent absorber of light energy.
      %p
        Polar bears are virtually undetectable when photographed with infrared film. This means that they simply do not lose measureable body heat. For military application, polar bear design suggests camouflage clothing which avoids infrared detection.
    .col-sm-6.text-center
      %img{src: 'images/land_animals/polar_bear.jpg'}
  .row.references
    .col-sm-12
      %p
        Preciado, J.A. and many others. 2002. Radiative properties of polar bear hair. <i>Proceedings of the ASME International Mechanical Engineering Congress and Exposition</i>. BED-53:1-2.
