%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        North American porcupines are well known for their unusual defense. An adult is coated with perhaps 30,000 needle-like hairs. An unfortunate dog that gets too close may find its nose resembling a pin cushion. Furthermore, the needles are not easy to remove. They are coated with microscopic, flexible plate-like barbs which make penetration relatively easy, but extraction requires a strong and painful pull.
      %p
        Researchers at Harvard Medical School in Boston report that the porcupine quill is inspiring new beneficial designs in medicine (Cho, 2012). In certain procedures, surgical staples or sutures are needed. Efficient stitching can be done with artificial, porcupine-style barbs which hold the staples firmly in place. It is also possible to design the staples with barbs that eventually biodegrade and allow easy removal.
      %p
        Porcupine technology may also be extended to needles for injections. It is found that a needle clad with microscopic barbs penetrates the skin with minimum force and pain. And even with the barbs, there is less tissue damage than with the standard smooth needle. As an additional benefit, some procedures require the needle to hold in place for a period of time, such as a medical patch or intravenous infusion. Here the barbs function as anchors to stabilize the needle.
      %p
        Plants and animals of the world provide us with an endless stream of practical design ideas. Their application is called biomimicry, that is, the imitation of nature. Such designs do not occur by gradual evolutionary improvement. Instead, intelligent planning is found everywhere including the fossil record, fully developed and functioning. Porcupines were created on Day Six of the Creation Week along with all other land animals. It is unknown whether the porcupine were created with their special protective quills or if this feature appeared in the post-Curse world. 
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/porcupine.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/porcupine_quill.jpg'}
  .row.references
    .col-sm-12
      %p
        Cho, Woo and others. 2012. Microstructured barbs of the North American porcupine quill enable easy tissue penetration and difficult removal. <i>Proceedings of the National Academy of Sciences</i>. 109(52):21289-21294.
