%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Beavers, rats, rabbits and similar rodents depend on their teeth for survival. They are experts at gnawing, and their teeth are designed with a self-sharpening ability. Unlike our own, rodent teeth are covered with enamel on only the front side. Softer dentine is exposed on the back of the front teeth. As the rodent chews and wears down its teeth, it alternates grinding its lower incisors against either the front or the back of the upper incisors. As a result, the hard enamel slowly wears down the softer dentine and the teeth remain sharp. The teeth also continue to grow from the root, maintaining their length. The animals must continue to gnaw or their teeth will outgrow their mouth.
      %p
        German engineers have applied the tooth sharpening ability of rodents to cutting tools. Cutting is part of most industrial processes including paper, cloth, wood, and metal. Dull cutting blades are inefficient and expensive to replace. To increase efficiency, blades can be made similar to rodent teeth with distinct front and back sides. In one prototype blade, the harder, resistant side consists of titanium nitride ceramic. The back side, similar to the tooth dentine, is coated with a weaker tungsten-carbon-cobalt alloy. This latter material rubs against the materials to be cut, slowly wearing down and keeping the outer ceramic edge exposed and sharp. Unlike the growing rodent teeth, the entire industrial blade eventually wears down. Engineers learn much from the abilities of God’s created creatures, but cannot quite duplicate them.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/rodent.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/saw_blade.jpg'}
  .row.references
    .col-sm-12
      %p
        Reference: Meyers, M., A. Lin, Y. Lin., E. Olevsky, and S. Geogalis. 2008. The cutting edge: sharp biological materials. <i>Journal of Minerals, Metals and Materials</i>. 60(3):19-24.
