%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A lizard called the sandfish lives in North African deserts, and also is a popular pet in the U.S. The adult lizards are about eight inches (20 centimeters) long. It has an unusual ability for moving about: When buried in sand, the lizard tucks its limbs against its sides and wiggles forward like a snake, wiggling from side to side. Its eyes and nose are designed for protection in the sand. The underground lizard movement has caught the interest of robotics engineers at the Georgia Institute of Technology in Atlanta and also Carnegie Mellon University in Pittsburgh.
      %p
        Robotics experts have previously designed devices that crawl, swim, or fly. The sandfish lizard offers the next step, a robot which ‘swims’ through sand. The team built a snake-like robot with several connected, motorized segments. In the laboratory, the device successfully moves through a container of small plastic spheres. The behavior of the sand lizard and the mechanical robot are shown on YouTube at <a href="http://www.youtube.com/watch?v=9mwJsGbTkOk" target="_blank">http://www.youtube.com/watch?v=9mwJsGbTkOk</a>.
      %p
        The laboratory goal is a remotely-controlled robot which can rapidly locate people trapped in loose debris resulting from an earthquake, flood, or a snow avalanche. The sandfish design leads the way in this important branch of robotics, useful for rescue operations.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/sandfish_lizard_1.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/sandfish_lizard_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Urquhart, J. 2010. Lizard-inspired robot can ‘swim’ through sand. <i>New Scientist</i> 206(2766): 23.
