%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        A species of North African scorpion does not mind getting sand blasted or whipped by desert winds. While other desert creatures burrow downward for protection, the scorpion scurries in the open and withstands abrasion. Studies reveal that its surface is covered with many hardened, dome-shaped bumps just a few microns in size. This armor coating deflects nearby air flow and reduces the force of wind and sand.
      %p
        Chinese scientists prepared metal surfaces and fired grains of sand at the metal targets using compressed air. Smooth surfaces became pitted within minutes. However, bumpy metal surfaces similar to that of the scorpion withstood the sand collision without erosion.
      %p
        This finding holds promise for the design of aircraft engines, helicopter rotors, and wind turbine blades in desert environments. The desert scorpion, designed by the Creator, shows us the proper high-tech surface coating for metal surfaces. Similar planned, intelligent designed designs surround us in nature and await discovery.
    .col-sm-6.text-center
      %img{src: 'images/land_animals/scorpion.jpg'}
  .row.references
    .col-sm-12
      %p
        No author, 2012, Not a scratch. <i>The Economist</i> 402(8770): 83.
