%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Thousands of wind turbines have been installed worldwide in recent years for the production of clean electric energy. Efforts continue to make the large turbines efficient and quiet. One successful modification of existing turbine blades is inspired by the stegosaur. Found in the fossil record, these dinosaurs featured rows of plates along their backs. The plates reached two feet in length and were part of the stegosaur’s designed cooling system. The Siemens Corporation has modified turbines with a row of closely spaced plates attached along the length of the blades. The attachment increases the blade area and energy-producing turning torque. 
      %p
        These large-scale serrations along the plate edges are found to disperse air flow around the blades, resulting in less noise and less strain on the blade surfaces. The addition of the dinosaur designs on wind turbines increases energy output by at least 1.5 percent. Applied to hundreds of wind turbines, the result is substantial serious increase in energy efficiency.  All of creation, including the dinosaurs, offers us endless new ideas and solutions to technical problems. Such features did not arise by time and chance, but by the hand of the Creator. Dinosaurs first appeared on Day Six of the supernatural Creation Week. 
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/stegosaur.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/turbine_blade.jpg'}
  .row.references
    .col-sm-12
      %p
        Enspak, Jesse. 2012. Dinosaur-inspired upgrades add bite to wind turbines. <i>New Scientist</i> 2882:16.
