%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        The thorny devil lizard, or thorny dragon, lives in the desert areas of central Australia. This lizard, just 4-6 inches long, looks ferocious with a body completely covered with thorny spines. Two additional large pointed scales on its head resemble curved horns. Biologist John Gray in 1841 gave an alternate name to the lizard, Molech, after the detestable Canaanite god of Old Testament times. However, the lizard does not live up to its threatening names. It is gentle, harmless, and can easily be handled.
      %p
        How does this animal survive in a dry land where the temperature reaches 122⁰F (50⁰ C)? Water, of course, is the essential ingredient, and the lizard is an expert water collector. Between its body scales and spines is a system of narrow grooves. These indented channels lead to the corner of the lizard’s mouth. When morning dew forms, it settles into the grooves and then flows along the grooves where it is eventually swallowed. The water movement is aided by capillary action, similar to the way water raises slightly in a straw. The lizard helps the process by gently sucking the water inward. In laboratory experiments, the lizard’s rear feet were placed in a shallow dish of water. Within minutes, water was arriving at the lizard’s mouth.
      %p
        There is ongoing research to duplicate the surface of the devil lizard with various materials. The goal is to produce a similar structure which collects precious water in a desert environment.
    .col-sm-6.text-center
      .row
        .col-sm-12
          %img{src: 'images/land_animals/thorny_desert_lizard_1.jpg'}
        .col-sm-12
          %img{src: 'images/land_animals/thorny_desert_lizard_2.jpg'}
  .row.references
    .col-sm-12
      %p
        Mueller, Tom. 2008. Design by nature. <i>National Geographic Magazine</i> 213(4):68-91.
