%h1= title
.well.design-example
  .row
    .col-sm-6
      %p
        Here is an activity to try with a length of adhesive tape. Press the tape against a dusty surface several times. As expected, the tape quickly loses its holding strength as dust particles collect and coat the sticky side. In contrast, consider tree frogs which thrive in dusty, wet, or muddy surroundings. Yet they cling securely to branches and leaves, even hanging upside down. How are they able to hold on without falling? 
      %p
        Researchers are exploring the "sticky" ability of tree frogs. In one experiment the tree frog is placed on a flat dusty surface. The platform is then slowly tilted to a vertical position. As the tilt angle increases, the frog eventually loses its grip and starts to slide. If it crawls a few steps, however, the frog recovers its traction and stays put.
      %p
        Close inspection of the frog's foot shows many tiny hexagonal surface pads. In the channels between these pads, a small amount of mucus material is secreted. The frog is observed to move its foot back and forth spreading the gel and absorbing nearby dust. Grip is restored as a thin clean layer of the sticky gel is applied to the foot pads.
      %p
        The frog's foot pad reveals a second important feature. When conventional tape is pulled loose, small cracks often spread through the adhesive. This allows removal of the tape but weakens it for further use. In contrast, the separated pads on the frog's foot prevent the spread of such cracks. As a result, each step taken by the frog is provided with full sticking ability.
      %p
        Just what is it that makes frog feet sticky? The chemistry of adhesion chemistry is highly complex and not fully understood. It involves intermolecular forces, atomic bonding and polymer chemistry. Other living things display equally impressive adhesive structures. For example, gecko feet have thousands of brush-like hairs which hold firmly to almost any surface. Cockleburs have flexible grasping hooks, the inspiration for Velcro.
      %p
        Adhesives are an everyday component in building construction, product manufacture, aerospace engineering and medicine. A reusable, self-cleaning adhesive similar to the feet of tree frogs has many potential applications. For example, since frog feet remain sticky in wet conditions, how about band aids that stick when wet? And after use, such waterproof band aids could be removed painlessly and without leaving a sticky residue.
      %p
        New heavy duty "frog tape" could be applied underwater to seal leaks in a boat hull or swimming pool. For clothing, reusable sealing tape could provide a quiet alternative fastener. Imagine car tires which adhere to wet or icy roadways without slipping. Such new products could incorporate a liquid gel which mimics the self-cleaning ability of tree frogs. The term smart materials is given to new products which respond and adjust to various conditions. God has filled his creation with valuable ideas for new devices and solutions to everyday problems.
    .col-sm-6.text-center
      %img{src: 'images/land_animals/tree_frog.jpg'}
  .row.references
    .col-sm-12
      %p
        Khamsi, R. 2007. Friction helps frogs stick to ceilings. <a href="http://www.newscientist.com/article.ns?id=dn11587&feedId=online-news_rss20" target="_blank">http://www.newscientist.com/article.ns?id=dn11587&feedId=online-news_rss20</a>.<br>
        Mujumder, A. et al., 2007. Microfluidic adhesion induced by subsurface microstructures. Science 318(5848): 258-261.<br>
        NA, Dry solution to a sticky problem <i>Nature</i> 477:42-43, Sept 1, 2011
